[2015-02-15 18:06] chakrit opened #1 "Can you provide a fully working example app?"
I'm new to elixir, and having followed your example running `mix run` on the project seems to cause it to prints out a hello message but then the app finishes, and the bot disconnects. I know this may sound tedious, but it'd be nice if you could provide a fully working example application (sans the Slack token) so I can compare and see what I did wrong. This'd also help other Elixir newbies to get

[2015-03-01 16:40] jeregrine opened #2 "State isn't being persisted"
I used your example as stated in the README and its always 1 message.

[2015-05-26 15:00] BlakeWilliams commented on #2
Thanks, I'll take a look and see if I can get that sorted out.

[2015-05-26 15:02] BlakeWilliams commented on #1
I think you want to run `mix run --no-halt` so the process doesn't die.

I wrote https://github.com/BlakeWilliams/CleverSlack which should be a more complete example.

[2015-06-25 09:47] waynehoover commented on #2
Same for me, any updates?

[2015-06-26 12:53] #2 closed

[2015-07-05 23:38] BlakeWilliams commented on #1
Closing this, let me know if further examples would help!

[2015-07-05 23:38] #1 closed

[2015-07-20 04:33] chakrit commented on #1
Just saw this, thanks for putting that up : )

[2015-08-10 16:51] brweber2 opened #8 "Please update readme"
The code samples in the README have a few minor issues:

* the match should be on %{type: "message"} in the handler and not a two value tuple
* it should be message.channel and not response.channel
* do not call start_link at compile time

Here is an actual example that worked for me.  This can be run with

[code]

[code]

[2015-08-12 03:58] BlakeWilliams commented on #8
Good catch! I dropped the ball when updating the README.

I updated it to work, but I think it's worth keeping `start_link` in the example. If you have a better way of explaining / showing that I'd love to hear it.

[2015-08-12 04:03] BlakeWilliams commented on #8
Actually, I added those two tidbits in. Thanks for opening the issue!

[2015-08-12 04:03] #8 closed

[2015-08-12 04:06] brweber2 commented on #8
You are still missing the % on the map. :)

Thanks for updating the docs!

[2015-08-12 04:07] BlakeWilliams commented on #8
Gah! Thanks again! :smile:

[2015-09-23 22:36] christhekeele opened #11 "Complete RTM API"
In addition to sending messages, the Slack RTM API allows a couple of other actions over the socket:

- [Typing indicators](https://api.slack.com/rtm#typing_indicators)
- [Pinging](https://api.slack.com/rtm#ping_and_pong)
- [ID tagging and confirmation](https://api.slack.com/rtm#sending_messages)

For robustness I propose adding support for these.

#### Typing Indicators

- `Slack.indicate_typing/

[2015-09-23 23:16] BlakeWilliams commented on #11
Hey Chris, thanks for putting this together. This would probably be better suited as individual issues per feature-request instead of one giant issue since that's much harder to track and work through.

I'd also suggest that if any of these are high priority to you to submit a pull request with the feature and appropriate test. I think you can also take advantage of the first two immediately via [

[2015-09-23 23:22] christhekeele commented on #11
1. I'll split this up into separate issues.
1. I'm already working on a PR for `indicate_typing`, my immediate interest. :)
1. I'll confirm the current ping situation before creating an issue.
1. Agreed–I think the application should track ids, not us. On the other hand, I have a nascent idea for how we could make it easier, which I'll discuss on the appropriate issue. This feature is my second pr

[2015-09-23 23:22] #11 closed

[2015-09-23 23:25] christhekeele opened #12 "Allow typing indication"
#### Extracted from #11:

Slack supports [typing indicators](https://api.slack.com/rtm#typing_indicators). We should as well. This ought to be trivial through `send_raw`.

#### API Additions

- `Slack.indicate_typing/2`

  Accepts a channel and a `Slack.State`. Activates the bot's typing indicator in that channel.

I'll throw together a PR for this tonight.

[2015-09-23 23:37] BlakeWilliams commented on #11
Thanks for splitting that up.

As for 5, I don't think we'd ever want to make it private. It's exposed for situations when you want to do something slightly odd or Slack releases a new feature you've gotta have now.

[2015-09-23 23:50] christhekeele commented on #11
I see the source of some of my confusion, now. `Slack.send_message` is explicitly typed to `[ type: "message" ]`, while `Slack.handle_message` is not–although I assumed it was.

[2015-09-24 01:31] BlakeWilliams commented on #11
Yeah, that could probably be renamed for clarity. I'd be open to having `handle_message` renamed to `handle_reply`, but `handle_message` would need to print a deprecation warning and still work for a few releases.

[2015-09-24 01:35] christhekeele opened #15 "Change base handler from `handle_message`"
#### Extracted from #11

For clarity between message-type responses and other events, the base event handler should be changed from `handle_message` to something more general.

This change should be backwards compatible and issue a deprecation warning.

#### Discuss
Preference in `handle_reply` vs `handle_response` vs `handle_event`, or something else, for the generic handler?

[2015-09-24 01:46] BlakeWilliams commented on #15
I agree. I like `handle_reply`. If you want to open a PR where `handle_message` is renamed to `handle_reply` that'd be awesome. I'd keep `handle_message` too but print a deprecation warning and calling through to `handle_reply` if possible.

[2015-09-24 01:49] #12 closed

[2015-10-16 02:52] afaur opened #18 "New example app needed"
The two example apps are using 0.0.4 and 0.0.5 of slack hex package (https://github.com/BlakeWilliams/Elixir-Slack).
- Cleverslack which relies on Cleverbot has issues with newest erlang.
- Just_Bot will compile but blows up after trying to run

[code]

[code]

[code]

[code]

[code]
[code]

[2015-10-18 20:02] afaur opened #21 "Add travis to check builds"
Add travis to repository to check builds.  This will enable..
- An indication if tests are passing on new Pull Requests.
- Indicator to show status of tests against the master branch on the top of the README.

[2015-10-20 23:38] afaur commented on #21
Looks like travis may not be completely set up yet.
Notes are here: https://github.com/BlakeWilliams/Elixir-Slack/pull/23

[2015-10-21 00:07] BlakeWilliams commented on #21
Looks good now. https://travis-ci.org/BlakeWilliams/Elixir-Slack/builds/86522160

[2015-10-21 00:07] #21 closed

[2015-10-21 00:36] #18 closed

[2016-01-02 17:14] mfilej opened #29 "Posting a message (not as a response)"
I'd like to use this library to post a simple message to a given channel (not as a response to another message – for the sake of simplicity let's say I want to trigger it myself from `iex`).

Is this something that is supported? It seems like I could use `send_message`, but then I don't know where to get (or how to construct) the Slack argument.

I'm afraid that there is an obvious answer to this

[2016-01-03 07:24] BlakeWilliams commented on #29
Under the hood we delegate `websocket_info/3` messages to your bots `handle_info/3` function.

https://github.com/BlakeWilliams/Elixir-Slack/blob/master/lib/slack.ex#L109-L112

This means from `iex` you could do something like: `send pid, {:say, "hello", "foo"}` (make sure you have the bots pid or registered process name as `pid`) and in your bot implementation have something along the lines of:

[2016-01-03 13:36] mfilej commented on #29
Thanks for the reply!

I tried implementing what you suggested and I'm getting an error. I see from where in `websocket_client` it is getting triggered but I can't quite understand the reason.

[code]

From what I can tell `handle_info` is not getting called at all (I tried simplifying it down to an `IO.inspect`),

[2016-01-03 23:38] BlakeWilliams commented on #29
It looks like that change wasn't pushed to hex yet. Can you try upgrading to `0.4.0` and try again?

[2016-01-04 13:06] mfilej commented on #29
It worked! Thank you very much for your support. :sparkling_heart:

[2016-01-04 13:06] #29 closed

[2016-01-06 10:33] madshargreave commented on #29
Hey

I updated to 0.4.0, but I also receive the same error

[code]

[2016-01-06 11:17] madshargreave opened #31 "Retrieving the reply for send_message"
Hi

As noted here

https://api.slack.com/rtm

"Once the JSON has been sent to the server visual clients should immediately display the text in the channel, grayed out or otherwise marked to indicate that it is "pending". At some point after that, usually a few milliseconds later, the server will send a confirmation that the message was received:"

As it does not seem to be caught in any of the han

[2016-01-06 16:33] madshargreave opened #32 "Protocol.UndefinedError when declaring handle_message callback"
Hi

I can define the `handle_connect` callback without any problems. However, I get the following error  when I declare the `handle_message` callback. If I remove the declaration it runs fine.

[code]

Code

[code]

[2016-01-06 18:50] BlakeWilliams commented on #32
You need to define a catch all for `handle_message/3` since you're getting calls to `handle_message/3` that don't match your function.

eg:

[code]

[2016-01-06 18:50] #32 closed

[2016-01-06 19:14] madshargreave commented on #32
I have the following code and I still get the error

[code]

[2016-01-06 19:19] BlakeWilliams commented on #32
Can you try removing `Slacker.Endpoint.broadcast!(state.topic, event, payload)` and see if it still throws an error?

[2016-01-06 19:20] madshargreave commented on #32
Tried that, did not make any difference

[2016-01-06 19:28] BlakeWilliams commented on #32
Could it be your `Message.format(message)` line?

[code]

[2016-01-13 14:52] madshargreave opened #33 "Loosing connection does not trigger handle_close"
Hey

If I connec to the Slack RT API, and afterwards disconnects my internet, the `handle_close` callback is never called.

[code]

I want to be able to perform some cleanup, and then restart the connection, if it fails at any point

[2016-01-13 23:08] BlakeWilliams commented on #33
Ah, I think we'll need to handle `websocket_terminate/3` which will be a different callback. I'll open a PR for that and get it merged.

[2016-01-13 23:11] BlakeWilliams commented on #33
Actually, it looks like we already handle that.

If it's not getting called it's likely that [websocket_client](https://github.com/jeremyong/websocket_client) isn't triggering `websocket_terminate`.

[2016-01-13 23:16] BlakeWilliams commented on #33
I just tried this out locally and my bot reconnected immediately. Maybe that's what it's doing under the hood? If that's the case I think this is fine to close.

[2016-01-14 06:02] madshargreave opened #34 "Changing the Slack state?"
Hi

Is the slack state automatically synced behind the scenes? Ie. will the state of a user in the Slack construct automatically update based on incoming presense_changed events, or will I have to manually update this myself?

In case of the latter, how do I update the Slack state from the handlers?

[2016-01-14 16:39] BlakeWilliams commented on #34
Yes, it should be handled for you. https://github.com/BlakeWilliams/Elixir-Slack/blob/master/lib/slack/handlers.ex

If there's something missing please create an issue or PR for it.

[2016-01-14 16:39] #34 closed

[2016-01-19 03:03] #33 closed

[2016-01-20 15:50] madshargreave commented on #34
I want to perform some action when the presence of a user changes, how can I hook into this callback?

[2016-01-20 15:51] madshargreave opened #35 "Events not firing"
Hi

I don't receive any events related to typing indicators or user presence changes

Are these caught somewhere else?

[2016-01-20 15:56] BlakeWilliams commented on #34
This gets called in `handle_message`.

eg:

[code]

[2016-01-20 15:57] BlakeWilliams commented on #35
You can listen for this using `handle_message/3`. There's an example in #34.

Here's a list of the Slack RTM API's messages you can listen for https://api.slack.com/rtm

[2016-01-20 15:57] #35 closed

[2016-01-20 15:59] madshargreave commented on #35
Yeah I know

I have defined the following callback

[code]

But I never receive typing indicators (in the catchall) or presence_changes

[2016-01-20 16:08] BlakeWilliams commented on #35
The following works for me on `0.4.0` as the only defined `handle_message/3` function.

[code]

If you're still running into the issue, please post the rest of the code if possible.

[2016-01-24 00:23] StevenNunez opened #36 "Issues using handle_info"
Sending a generic message causes a `** (FunctionClauseError) no function clause matching in FitBot.SlackComm.websocket_info/3` error. Currently have a
[code]

running
[code]
Triggers the error.

[2016-01-24 00:33] BlakeWilliams commented on #36
@StevenNunez Can you tell me which version you're using?

[2016-01-24 00:39] StevenNunez commented on #36
"slack": {:hex, :slack, "0.3.0"},

[2016-01-24 00:42] StevenNunez commented on #36
0.4.0 works! I'll update the readme

[2016-01-24 00:50] BlakeWilliams commented on #36
Awesome, thank you!

[2016-01-24 00:50] #36 closed

[2016-02-06 15:21] Oxyrus opened #44 "How to handle events?"
I've been trying to handle events in my app, however I can't manage them to work. For instance, I can't manage the team_join event to work and welcome the new member

[code]

Same goes with every event here https://api.slack.com/rtm , what is the right way to handle them?

Thank you in advance!

[2016-02-06 16:18] Oxyrus commented on #44
With help of Daniel Grieve managed it to work

[code]
Still have to find a way to get the general channel id automatically instead of hardcoding it.

[2016-02-06 17:04] BlakeWilliams commented on #44
I think you should be able to use `Enum.find/3` on `slack.channels`. You might want to `Map.values/1` it first since it's indexed by channel id.

[2016-02-07 16:40] madshargreave opened #45 "Sending too many requests results in obscure error"
Hi

If you send too many RTM connection requests, you will eventually receive the following response

`You are sending too many requests. Please relax.`

which due to being plain text and not JSON (response.body doesnt exist), fails with following error

[code]

[2016-02-07 17:34] BlakeWilliams commented on #45
Thanks for reporting this, this should be a quick fix.

Any chance you'd want to make a PR for this? I can help guide you on where / what to change if you'd like. If not I can make write a fix for it.

[2016-02-08 01:37] Oxyrus commented on #44
I'll give it a try, thank you!

[2016-02-12 09:15] madshargreave opened #47 "Manually archiving a channel crashes handler"
Hi

The following piece of code will crash with an `{:handler, :badarg}` error message, if you archive a channel using the Slack web/desktop client. It is however difficult to debug due to the very uninformative error

[code]

Full error message:

[code]

[2016-02-12 18:11] BlakeWilliams commented on #47
@christophermaier You were recently working with something similar, any thoughts?

[2016-02-13 00:45] christophermaier commented on #47
Nothing immediately springs to mind, given a brief look at the code and API docs. I'd probably start by adding some logging statements around [here](https://github.com/BlakeWilliams/Elixir-Slack/blob/d0d497074ab2173bff1ca75d33442ca890f44203/lib/slack/handlers.ex#L48-L50) to get a better picture of what's going on, though.

[2016-02-25 15:11] sircharleswatson commented on #15
I know this is a little old _but_ I think it should be `handle_event` rather than `handle_reply`. This more closely follows the terminology that the [Slack RTM docs](https://api.slack.com/rtm#events) follow. There is a `message` event that is what we generally use so I think `handle_event` would be much better. `handle_reply`, just the name, makes me assume we already sent a message to the client

[2016-03-19 21:28] Oxyrus commented on #44
@BlakeWilliams would it be possible to just use the channel name as indicated on the Slack API docs?

You can either pass the channel's name (#general) or encoded ID (C024BE91L), and the message will be posted to that channel. The channel's ID can be retrieved through the channels.list API method.

I tried but didn't work.

[2016-04-26 15:09] micahwedemeyer opened #53 "Example send_message from outside a handler"
It's a bit of a head-scratcher to figure out how to call `send_message`, particularly how to include the `slack` parameter. It's easy if you're in an event handler, but what if you want to send a message in response to something non-slack related (ie. "A new user just signed up!")

I'd love an example that shows how to catch and store the resulting `slack` parameter from the init and then retrieve

[2016-04-26 15:19] BlakeWilliams commented on #53
Does #25 help?

I wouldn't mind a pull request adding an example to the README.

[2016-04-26 16:20] micahwedemeyer commented on #53
Here's what I came up with. I'll submit a PR, but I really hesitate to tell others to do this. I'm so new to Elixir/Erlang, and I'm probably doing something terrible with ETS here. It's probably a horrible violation of statelessness.

[code]

[2016-04-26 18:18] BlakeWilliams commented on #53
From #25:

You can register the pid and use `send` to send messages to your bot. It will then use [`handle_info/3`](https://github.com/BlakeWilliams/Elixir-Slack/pull/25/files#diff-3e0c0ac63fea5d69355e7f178ebcdbe4R148) to respond to the message.

eg: `send(:slack, {:message, "Hello!", "12345"})` you'd have something like:

[code]

That's a rough example, but should work.

[2016-04-26 18:21] micahwedemeyer commented on #53
Okay, I think I understand. It's part of a Phoenix app, and I've got it starting up as a worker under a supervisor, so I think I can just register the `:slack` name for that worker and then get it using the `handle_info` as you've suggested.

I'll try to find a chance to get that done today and send an updated PR with a better README.

[2016-04-26 18:31] BlakeWilliams commented on #53
That sounds correct to me.

Excited to see the updated PR! 😃

[2016-04-29 01:20] BlakeWilliams commented on #44
I have not, but #55 should fix this.

[2016-04-29 01:22] BlakeWilliams commented on #47
This might be caused for not having a fallthrough for `handle_message/3`. Try adding `def handle_message(_, _, state), do: {:ok, state}` to your app.

Closing for now since there's not enough information to reproduce a bug.

[2016-04-29 01:22] #47 closed

[2016-04-29 01:49] BlakeWilliams opened #56 "Use hex hosted websocket_client"
It seems like the erlang websocket_client library was forked to https://github.com/sanmiguel/websocket_client. Since this is hosted on hex and is being actively developed elixir-slack should use this library instead.

[2016-04-29 02:04] BlakeWilliams opened #57 "Turn Slack map into struct"
The "slack" state is currently a map but would be better as a struct so it can be better documented and functions that manipulate/interact with it can be separated from the rest of the code.

[2016-04-29 13:10] jeshocarmel commented on #29
I'm facing the same error.

[code]
The I execute and get the error as follows.
[code]

I'm using slack 0.4.2 along with websocket as deps

[2016-05-01 08:22] jeshocarmel commented on #32
I'm facing the same error.  @BlakeWilliams

[code]
The I execute and get the error as follows.
[code]

I'm using slack 0.4.2 along with websocket as deps

[2016-05-02 02:55] BlakeWilliams commented on #32
@jeshocarmel The format of your `handle_message` function looks wrong.

Try formatting it like the README suggests:

[code]

[2016-05-06 09:03] cfenollosa opened #58 "Strange start_link behavior"
Hi,

First of all, thanks for the code! I'm starting to write Slack bots and have recently discovered Elixir from Python.

I'm finding a weird problem: running `start_link` from inside the code drops an error, while running it from `iex` works.

file `lib/slack_bq.ex`
[code]

result of `iex -S mix`

[code]

The same happens if I call `start_link` from another module.

However, deleting that last l

[2016-05-08 15:28] BlakeWilliams commented on #58
It looks like hackney isn't started by the time you call `start_link`. Try adding `:ok = Application.ensure_started(:hackney)` before calling `SlackBq.start_link/2` and see if that works.

I think a more common approach to starting apps would be to do this in a supervisor, which I have tested and know works.

[2016-05-08 19:42] cfenollosa commented on #58
It seems that is indeed the problem:

[code]

Is there a way to wait for hackney to start?

[2016-05-08 20:07] BlakeWilliams commented on #58
I would use an [`Application`](http://elixir-lang.org/docs/stable/elixir/Application.html) and call it in `start`.

[2016-05-10 18:46] BlakeWilliams commented on #58
@cfenollosa Did that resolve your issue?

[2016-05-10 21:58] cfenollosa commented on #58
Sorry, I'm kind of multitasking with different solutions. I'll close the issue since this is clearly not a bug. In any case, maybe it would be a good idea to add some documentation in case a newcomer to Elixir encounters the same problem.

Thanks for your help!

[2016-05-10 21:58] #58 closed

[2016-05-12 15:43] wende commented on #47
Same issue here. And as far as I see in this code there's only a fall through handler

[2016-05-12 22:26] christhekeele commented on #57
Was thinking about taking on a couple of these issues. For this one, do you want to turn `Slack` itself into a struct, or put it somewhere else to avoid cluttering the macro-ful module, like `Slack.Conn`?

[2016-05-12 22:36] christhekeele commented on #57
Also, how do you feel other structs, like `Slack.Message`, `Slack.User`. `Slack.Channel`, etc?

[2016-05-12 23:07] BlakeWilliams commented on #57
I would move the `Slack` state first, but it would probably be in its own module. I was initially thinking `Slack.State` but could be convinced of other names.

I think once that's done it'll make sense to re-evaluate the idea of `Slack.Message`, user, etc.

[2016-05-12 23:32] christhekeele commented on #57
Both `Slack.Struct` and `Slack.State` seem a little nondescript, but I can't think of a great alternative. `Slack.Client` seems okay, `Slack.API` kind of inaccurate.

[2016-05-12 23:36] christhekeele commented on #57
Alternatively, flip it around such that the state is a `%Slack{}` struct and library gets consumed with `use Slack.API` (or `Slack.Behaviour`, `Slack.Client`)

[2016-05-13 00:17] christhekeele commented on #57
`Slack.State` feels pretty weird because all the callbacks end up with a `Slack.State` and a user-defined `state` right next to each other.

[2016-05-13 00:43] BlakeWilliams commented on #57
I don't think it's too weird. 'Slack.Client' isn't bad either.

[2016-07-04 21:11] #57 closed

[2016-07-04 21:11] #53 closed

[2016-07-04 21:11] #44 closed

[2016-07-07 18:44] Lugghawk opened #71 "message.channel is not a human readable."
I'm not sure if this is a side effect of my slack server or something else, but my channel names appear to be things like "A123B456" instead of "general". This makes sending messages to a direct channel really challenging.

In the readme.md, during the send_message example, you used "general" there and that doesn't appear to work for me because the general channel is named something else.

[2016-07-07 19:37] BlakeWilliams commented on #71
@Lugghawk I think it needs to be `#general` according to https://github.com/BlakeWilliams/Elixir-Slack/blob/master/lib/slack/sends.ex.

Feel free to open a PR fixing it in the README, or I can get to it later.

[2016-07-10 21:13] Lugghawk commented on #71
Opened PR #72 for it @BlakeWilliams

[2016-07-16 19:32] FLamparski opened #74 "Does not actually run in its own process"
The `Slack` RTM client does not run in its own process like a real `GenServer` would. This caused me a lot of confusion when I was trying to add a Supervisor that restarts the Slack client in case of the remote host closing the websocket connection. The PID returned from `Slack.start_link/1` is for the underlying `websocket_client` process.

The `Slack` client should run in its own process and be

[2016-07-17 01:17] BlakeWilliams commented on #74
I'm not really sure what the issue is here, can you explain what you're trying to do and what's breaking?

Is the issue that the websocket connection and the slack handler are coupled?

[2016-07-17 05:19] BlakeWilliams commented on #71
Fixed in #72

[2016-07-17 05:19] #71 closed

[2016-07-18 11:02] denispeplin opened #75 "Websocket handler Mentioner.Slack terminating"
I've got this error:

[code]

Main process was still alive, but bot has gone offline. That probaly was due to missing internet connection, but I'm not sure.
Bot source code is here: https://github.com/denispeplin/mentioner

[2016-07-25 13:02] BlakeWilliams commented on #74
Closing until there is more detail.

[2016-07-25 13:02] #74 closed

[2016-08-03 00:00] Lugghawk opened #77 "Bot goes offline but handle_close is not called"
Running with `mix run --no-halt` eventually has my bot go offline, and my handle_close is not called.

my handle close is as follows

[code]

And my bot will go offline from slack without this output appearing, and with no error being raised.

[2016-08-14 22:09] Lugghawk commented on #77
I added some debugging output into the websocket lib. It looks like the last message that I see come out is a `{:ping, ""}` message.

So it's possible that the response isn't being received by slack for some reason, and the socket is terminated without knowing.

[2016-08-15 02:09] BlakeWilliams commented on #77
Do you have information how to reliably reproduce the issue?

[2016-08-15 02:26] Lugghawk commented on #77
The bot is here (https://github.com/Lugghawk/slack_pricecheck), but you'll need tokens for slack and ITAD integrations. So without that, the only thing I can think of is having a fairly bare bot that doesn't send any messages (my bot is fairly inactive).

Is there anything I can do to provide you with better logs of the problem?

[2016-08-15 02:28] BlakeWilliams commented on #77
I'll give that a shot and see what happens. There's no built in debugging/logging that would help in the lib currently, unfortunately.

[2016-08-15 02:35] Lugghawk commented on #77
Yeah that's okay. I've placed a bunch of IO.inspect calls in my local build trying to figure it out. The last one that gets called is in the ping handler, and then the got goes offline and no more logs from anything else.

It also happens after 24+ hours.

[2016-08-17 06:35] user5812346 commented on #77
I have seen this behavior too but often after serveral days of uptime

[2016-08-26 22:16] bttf commented on #74
I think the issue is that `Slack.start_link/1` is not returning its own PID but `websocket_client`'s PID?  So using a Supervisor to start/stop/restart the Slack client rather than `websocket_client` is not possible

[2016-08-30 02:32] johnmosesman opened #78 "Is `attachments` parameter supported for `post_message`?"
Hi,

Is it possible to send attachments via the Web API [post_message](https://hexdocs.pm/slack/Slack.Web.Chat.html#post_message/3) function?

Something like:

[code]

[2016-09-07 21:09] dmcclory commented on #58
Fellow elixir newb here.

I also encountered this problem and was able to get around it by starting HTTPoison before starting the slack bot:

[code]

Just posting on this closed issue for any future googler who gets stuck here.

[2016-09-12 17:40] Lugghawk commented on #77
Any ideas here? My bot currently needs to be restarted every few days in order to maintain being up. I might get to a point where I'll need to restart the bot process every day, but that seems like a really unfortunate thing to do inside the erlang vm.

[2016-09-12 20:34] BlakeWilliams commented on #77
What version of the library are you running into this on?

[2016-09-15 01:47] dax0 opened #80 "Pass arguments into server"
I may be missing something but I find the API of this library a bit awkward.  If I want to forward the messages received by this process to another one I need to be able to pass in a PID that's saved in the state.  There doesn't seem to be a way to set the state on handle_info, it's getting overwritten somehow. It seems I have to resort to using name PIDs everywhere which isn't ideal

Any ideas?

[2016-09-15 03:14] BlakeWilliams commented on #80
Check out [`Process.register/2`](http://elixir-lang.org/docs/stable/elixir/Process.html#register/2) instead of using a PID.

If you need to handle state, use the [`Agent`](http://elixir-lang.org/docs/stable/elixir/Agent.html) module.

[2016-09-15 03:14] #80 closed

[2016-09-15 03:21] dax0 commented on #80
Named processes aren't ideal when your application has more than one instance of this Slack client running.  It becomes necessary to pass in some data to let it know how to things different depending upon certain variables.  An Agent could work but then all instances of this client need to speak to the same one and it quickly becomes a bottleneck.

Ideally the "slack" portion of the state should b

[2016-09-15 03:23] BlakeWilliams commented on #80
There is no `handle_call` or `handle_info` because this lib is for managing a connection to slack and reacting to it.

Maybe storing data or references in ets would help your use case?

[2016-09-15 03:32] dax0 commented on #80
Since the Slack macro is a gen_server I'd expect it to behave like a gen_server - which it does.  I can handle calls, casts, and info, except they silently don't work.

I would like to avoid ETS as well because that is similar to Agents, it starts moving private data useful only to an individual actor into a more global state.  Starts to get messy when you're dynamically spawning many Slack connec

[2016-09-15 03:36] BlakeWilliams commented on #80
It's not a gen_server. It's using [websocket_client](https://github.com/jeremyong/websocket_client).

I've been meaning to look into that (delegating to another module) but haven't had time lately. It's on the radar though.

[2016-09-20 20:19] xrx commented on #78
It is supported. Try changing your example to something like this:

[code]

[2016-09-20 21:09] thbar commented on #45
FWIW I won't have time for a PR on this right now, yet here is my experimental code which is not finalized but handles that specific error well at least, in case it helps anyone.

For the record, for me the error `You are sending too many requests. Please relax.` comes as content type `text/html`, with status code `429`.

[code]

[2016-09-20 21:29] #45 closed

[2016-09-20 21:49] BlakeWilliams commented on #78
Thanks @xrx, closing this since that's the solution.

[2016-09-20 21:49] #78 closed

[2016-09-20 21:49] BlakeWilliams commented on #75
I think this particular issue should be fixed in the current version of the app.

[2016-09-20 21:49] #75 closed

[2016-09-23 20:42] sztosz commented on #77
I today have some problems with my internet connection and it simply disconnects for few seconds, and ie. my streamed music stops playing.

I run my bot in dev through `iex -S mix`

Here's what I observed. When connection dies(music stops playing, and pinging returns me `Destination Net Unreachable`  there is no information in iex log, nor application crash, simply nothing. Messages obviously does

[2016-09-28 03:01] BlakeWilliams commented on #77
I've started work on a new branch that should hopefully resolve this issue and several others.

There are a few breaking changes, but I don't think anything too drastic. If anyone has a chance to try it out please leave feedback on wether it works or not (or other comments!).

https://github.com/BlakeWilliams/Elixir-Slack/pull/86

[2016-09-28 03:02] BlakeWilliams commented on #80
@dax0 I've started https://github.com/BlakeWilliams/Elixir-Slack/pull/86 which should be more like what you were thinking. Feel free to leave any feedback you have there.

[2016-10-08 12:16] nickve28 commented on #77
Hello,

I tried using the work you made in the new branch, but unfortunately still encountered the same problem.
I did find the potential cause (at least I think/hope so), and was able to recover the slack bot by specifying a keepalive option to the websocket.

So long story short, I added the following to the websocket start_link:
`client.start_link(url, __MODULE__, state, [keepalive: 30000]) #./

[2016-10-26 00:54] BlakeWilliams commented on #77
@nickve28 That did help! I managed to track this down today and I think I've got a fix.

In #88 I make a keepalive timeout configurable which was introduced in #86. This is the amount of time the client waits for a response from the server before it closes the connection. I think this should resolve the issue.

[2016-10-26 00:56] BlakeWilliams commented on #56
Done in #86

[2016-10-26 00:56] #56 closed

[2016-10-26 01:03] BlakeWilliams commented on #15
Resolved in #89

[2016-10-26 01:03] #15 closed

[2016-11-05 02:39] micahwedemeyer opened #90 ":error:{:badmap, {:message, "testing", "#channel"}} - When trying to use handle_info"
In the README, it says you can use the Slack bot to send messages from other in-app events using handle_info, like so

    {:ok, rtm} = Slack.Bot.start_link(SlackRtm, [], "token")
    send rtm, {:message, "External message", "#general"}

This gives me a badmap error, which I believe is related to https://github.com/BlakeWilliams/Elixir-Slack/blob/master/lib/slack/bot.ex#L98

It's expecting a Map,

[2016-11-05 02:45] micahwedemeyer commented on #90
And if I call it like so, it works:

    {:ok, rtm} = Slack.Bot.start_link(SlackRtm, [], "token")
    send rtm, %{type: "message", text: "External message", channel: "#general"}

I have to redefine my handle_info like so, which is probably wrong:

    def handle_info(%{type: "message", text: text, channel: channel}, slack, state) do

[2016-11-05 22:34] alanwilhelm commented on #90
The existing docs led me to the same conclusion.

[2016-11-06 17:06] BlakeWilliams commented on #90
Huh, this looks wrong. I'll try to work on a fix soon, unless someone else wants to take a stab at it.

[2016-11-06 17:10] micahwedemeyer commented on #90
How do you want it to work? As per the docs, or as it is right now?
Although, I don't think there's much I can do, as I am really clueless
about the internal workings of this thing.
On Sun, Nov 6, 2016 at 12:06 Blake Williams <notifications@github.com>
wrote:

[2016-11-06 17:13] BlakeWilliams commented on #90
I think the `type` check from `handle_event` mistakenly made it into there. I think the conditional needs to be removed and `{:ok, %{state | process_state: new_process_state}}` should probably be put in the `try`.

[2016-11-06 17:13] BlakeWilliams commented on #90
So it should match the docs.

[2016-11-06 22:10] samsonasu commented on #90
I ran into this same thing today and took a stab at a fix.  I agree the syntax in the docs is better.

[2016-11-11 15:35] #90 closed

[2016-11-11 15:36] BlakeWilliams commented on #77
Closing since I think this is resolved, feel free to reopen if it's not.

[2016-11-11 15:36] #77 closed

[2016-11-27 06:16] mwean opened #92 "Stub Version for Testing?"
Hey, I'm really enjoying the package, but I'm having problems testing my bot since it makes real connections to Slack each time. I was wondering if we could add a way to stub the Slack connection. I'm already mocking things like `Slack.Sends.send_message`, but the initial connection happens before I can stub it.

It looks like we would need to stub out `Slack.Rtm.start` to return the initial state

[2016-11-28 17:51] BlakeWilliams commented on #92
Glad you like it! I also think this is an issue, but I'm not sure that stubbing is the best answer. I'm hesitant to build stubbing into the libs API.

I think there's a few potential solutions, like [ExVCR](https://github.com/parroty/exvcr) and [`mock`](https://github.com/jjh42/mock).

Would not starting the bot in the test environment be a solution?

[2016-11-28 18:15] mwean commented on #92
I'm already using mock for things like `Slack.Sends.send_message`, but ExVCR is a good idea. It looks like I need to wrap the initial http request with VCR, so I'd have to start the bot inside the test. I'm not sure how I can do that, though because the bot is started as part of the supervision tree of my app. I don't know how to make that conditional for the test env.

[2016-11-29 14:13] nickve28 commented on #92
Why not use the principle of explicit contracts described here? http://blog.plataformatec.com.br/2015/10/mocks-and-explicit-contracts/
In that case you can specify your own test slack client module and use that.

Otherwise, if you're not testing the specifics of that slack client, you could always run the test without starting the supervision tree. eg:  mix test --no-start

[2016-11-29 19:35] mwean commented on #92
If I understand correctly, the test slack client with explicit contracts is what I was initially suggesting (although probably explained poorly). I was imagining in-memory versions of `Slack.Bot`, `Slack.Rtm`, etc. that could be used in tests. I'll try to implement something like that and see how it goes. Thanks!

[2016-12-01 15:06] nickve28 commented on #92
Yes it is somewhat similar, although since you were referring to mocking I was under the impression you were using a library such as meck.

With explicit contract you use more of an Inversion of control pattern, where you can decide what module to use in your application, such as:

[code]

and then in your config of test you'd have something like:

[code]

This way, you can implement that module y

[2016-12-01 15:09] BlakeWilliams commented on #92
I agree with that and think overall that's a pretty good pattern to follow. Thanks for your explanation @nickve28!

I'm closing this for now, but if that doesn't work out feel free to reopen it or open a new issue.

[2016-12-01 15:09] #92 closed

[2016-12-16 11:34] dapdizzy opened #94 "Operability behind a proxy"
Right now, elixir-slack based bots do not work behind a proxy.
The networking modules that Elixir-Slack is based on, are not passing proxy and proxy_auth options that are required to enable the app behind the prxy. This significantly limits the potential usage of Elixir-Slack bots.

[2016-12-16 16:44] BlakeWilliams commented on #94
Can you be more specific? Is it the websocket connection? Initial authentication with Slack?

[2016-12-18 14:44] dapdizzy commented on #94
I probably can, but that requires digging in.
At first it's https connection (initial connection), then, probably, ssl websocket interaction.
The thing is that 'proxy' needs to be bypassed throughout the whole network related stack which is not the case now. I could probably dig deeper, but that would require some tracing and related digging stuff.

For now, it looks to me like this:

1. 1. Initia

[2016-12-19 09:57] dapdizzy commented on #94
When you run the elixir-slack based app behind the proxy (current code) it exits with a timeout. When I pass 'proxy' options to the initial connection call, it gies a little bit further and exits with some other error.
I believe this 'user defined issue' could be the basis for working on implementing operability behind a proxy. As I mentioned I would be able to provide specific details on the issu

[2016-12-27 23:03] bklang opened #96 "Unable to upload using Slack.Web.Files api"
According to the docs for [Slack.Web.Files.upload/3](https://hexdocs.pm/slack/Slack.Web.Files.html#upload/3), the first parameter to the upload function is the file, which will be sent as multipart/form-data. I've tried specifying a file, but the Slack API just response that no file data was sent:

[code]

I am able to use the `upload/3` function if I use the `:content` key, but then I can't speci

[2016-12-29 21:38] BlakeWilliams commented on #96
You're right, it seems to be a bit of the generated code and how HTTPoison handles multipart.

[2016-12-29 21:57] BlakeWilliams commented on #96
I just pushed `0.9.2` which contains the fix from #97. Thanks for reporting this and let me know if you run into any more issues!

[2016-12-29 21:57] #96 closed

[2016-12-29 22:00] bklang commented on #96
Wow that was quick! Thanks so much!

[2017-01-11 04:28] jdpopkin opened #99 "Elixir 1.4: "expected a keyword list as the second argument" in Slack.Web.Reactions.add"
My code:
[code]

When this code runs on Elixir 1.4.0, I get this error:
[code]

But if I run `brew switch elixir 1.3.4` and run again, this works as I would expect it to - my Slack bot reacts with :musical_note:.

(I know I'm passing a map and not a keyword, but passing a keyword here doesn't seem to work on either version of Elixir.)

I'm very new to Elixir; is it possible that this change from t

[2017-01-11 14:20] mjs2600 commented on #99
@squaresurf and I are looking into this. We should have a PR in a few hours.

[2017-01-11 14:54] BlakeWilliams commented on #99
@mjs2600 Does #98 fix this for you?

[2017-01-11 15:29] squaresurf commented on #99
Oh man, I didn't see #98 so I opened #100. The main difference is that #100 adds test coverage and solves the issue in a slightly different manner. I also left out the warning fixes in order to make sure the fix for the error was clear. I'm planning on opening another PR that fixes all the elixir 1.4.0 warnings.

[2017-01-11 18:07] ashkan18 commented on #99
Thanks guys, I just added similar test to my https://github.com/BlakeWilliams/Elixir-Slack/pull/98 as well.

@squaresurf it seems your test is failing because of using `describe` which was something that was added in Elixir 1.3 I believe and in travis we also run 1.2

[2017-01-11 20:53] squaresurf commented on #99
Thank you @ashkan18. I fixed up #100 to pass tests as well. I also opened #101 for elixir compile time warnings.

[2017-01-12 04:42] cotter opened #102 "Handling revoked app"
I'm trying to handle the case where the bot app has been revoked by the installer. Any help would be appreciated. Here's the output:

[code]

[2017-01-23 17:00] squaresurf commented on #99
@BlakeWilliams do you have any idea when you'll release a new version with the fix for this? We're currently blocked on upgrading to elixir v1.4.0 until this gets updated.

[2017-01-23 23:43] BlakeWilliams commented on #99
Sorry, merging a PR then cutting a release right after. :)

[2017-01-23 23:46] BlakeWilliams commented on #99
0.9.3 should be live now

[2017-01-24 16:53] squaresurf commented on #99
Thank you! 🎉

[2017-01-24 22:52] #99 closed

[2017-01-24 22:55] BlakeWilliams commented on #102
Strange, does the connection get terminated immediately? I assume it may be something we need to handle [here](https://github.com/BlakeWilliams/Elixir-Slack/blob/master/lib/slack/rtm.ex) after the initial disconnect maybe?

[2017-01-27 21:39] cotter commented on #102
Yes, the connection terminates and the app shuts-down. I'll play around with handling it there and will submit a PR if I'm successful.

[2017-01-30 01:06] IceDragon200 opened #104 "Loosen HTTPoison version requirement"
Hello, mind loosening the httpoison version requirement `~> 0.9` instead of `~> 0.9.0`

[code]

I just realized #103, but my point still stands, loosen that version please

[2017-02-01 20:23] gvaughn opened #105 "do we expect send_message to work with private channels?"
My company recently converted a channel that my bot was working with to a private channel. Now I'm finding this error when it tries to send a message to slack:

[code]

My code is basically doing
[code]

Perhaps my real issue that I can't refer to private channels simply with the `#` prefixed name. If anyone has insights, I'd appreciate it.

[2017-02-01 20:38] BlakeWilliams commented on #105
Hmmm, I bet that function is only looking through public channels. I'd happily take a PR that looks through both public and private channels.

[2017-02-01 20:45] gvaughn commented on #105
Thanks for the speedy reply! As I'm trying to poke around, all I'm seeing from `Slack.Web.Channels.list` are public channels. I need to put the pieces together on how to find and refer to a private channel. When the bot is invited to the private channel it replies just fine, but when I try to process async messages to the bot, it can't send to the channel. I use `message.channel` when replying, bu

[2017-02-02 22:09] BlakeWilliams commented on #105
According to the docs private channels are stored in `groups`, which we do track. So we could probably try to fallback to groups.

[2017-02-03 03:09] gvaughn commented on #105
Right. I got something working for my immediate needs using `groups`. I think the fallback is a good choice. People logically still think of private channels like `#mychannel` even though the Slack API distinguishes them as groups. If the bot has been invited into the `group`, then the fallback seems like the principle of least surprise to the developer. I expect to have some time early next week

[2017-02-04 00:07] gvaughn commented on #105
I had time sooner than expected! https://github.com/BlakeWilliams/Elixir-Slack/pull/106

[2017-02-08 23:18] gvaughn commented on #105
@BlakeWilliams I hate to be "that guy" asking about his PR, but ... well ... have you had a look at it? If you'd release a new hex package, I could pull that in and clean up my app's code and have one less thing on my mental to-do list. If it's not meeting project style guidelines or something, let me know and I'll clean it up.

[2017-02-08 23:19] BlakeWilliams commented on #105
Nope, it just fell off my radar is all. I'll take a look!

[2017-02-09 00:50] #105 closed

[2017-02-09 00:57] BlakeWilliams commented on #104
Done in 0.10

[2017-02-09 00:57] #104 closed

[2017-02-09 00:57] BlakeWilliams commented on #105
0.10.0 was released. :)

[2017-02-09 02:52] gvaughn commented on #105
Thanks! I'm off to LonestarElixir Conf tomorrow, but maybe I can fit in time for some Elixir hacking while I'm there :-)

[2017-02-24 04:50] easco opened #108 "Exposing the sender in handle_info"
Because `handle_info` receives any messages sent to the server that are not handled elsewhere, it would be convenient channel to get information (e.g. about the slack connection) from the server.  However, because the process that sent the message is not exposed in handle_info, there is no way to send a message back to the server.

If possible, it would be nice to include the sender in the paramet

[2017-02-24 13:43] BlakeWilliams commented on #108
I think there's an example of using `handle_info` in the README, is that not correct?

[2017-02-24 15:49] easco commented on #108
I've done you a disservice and not done well in my communication.  I tried to offer a proposed solution without explaining my problem.  Thank you for your patience and let me try again.

From what I understand, the Slack Bot runs as a `GenServer-like` process.  Primarily it sits in a receive loop and responds to messages from a web socket connection to Slack.

One of the advantages of a `GenServer

[2017-03-02 03:09] jaimeiniesta opened #109 "How to add this to a supervisor tree?"
This post has a nice example for building a Slack bot with this library:

https://medium.com/carwow-product-engineering/getting-started-writing-a-slack-bot-with-elixir-b8877072f038

But it fails when it comes to adding it to a supervisor tree, for example in a Phoenix app.

What's the proper way of doing it?

[2017-03-11 22:31] BlakeWilliams commented on #109
That example is likely based on an older version of the library. Something along the lines of the following will probably work:

[code]

[2017-03-11 22:31] #109 closed

[2017-03-11 22:33] BlakeWilliams commented on #108
Sorry for the delay on this. That sounds like a good idea.

I'd likely accept a PR that exposes that information.

[2017-03-11 22:58] BlakeWilliams commented on #94
Interesting.

This isn't something I'm running into, so I'm going to close this for now. I'd happily take a PR that makes this work without changing too much code. If you decide to tackle it, feel free to reopen or open a new issue.

[2017-03-11 22:59] BlakeWilliams commented on #102
Any progress here?

[2017-03-11 23:00] BlakeWilliams opened #111 "Write a "fake slack" for integration testing"
Currently testing in the application works, but it's not ideal.

What would be great to have is a fake slack server that we can spin up and have an actual bot interact with it.

This would also be good to at least smoke test the web API modules that are generated.

[2017-03-12 00:26] cotter commented on #102
Sorry Blake, I've been tied-up on other things. But I will try this out over the coming week..

[2017-03-13 19:39] davydog187 opened #114 "Elixir-Slack converts slack API response keys to atoms"
Atoms are [not garbage collected](https://github.com/elixir-lang/elixir/issues/2915#issuecomment-65556180) in the BEAM vm, so converting strings to atoms in the slack API response is dangerous.

Consider changing the Elixir-Slack API contract to use strings as keys rather than converting them to atoms.

Relevent code:
* https://github.com/BlakeWilliams/Elixir-Slack/blob/master/lib/slack/rtm.ex#L17

[2017-03-13 19:46] davydog187 opened #115 "Consider replacing exjsx with Poison"
Elixir-Slack currently uses exjsx for json parsing, however this project doesn't have great documentation, and [Poison](https://github.com/devinus/poison) has a lot more traction with the community.

If you think this is a good idea, I would be happy to make these changes.

[2017-03-13 19:53] BlakeWilliams commented on #114
I think this is a good idea, I'd happily take a PR for this.

[2017-03-13 19:54] BlakeWilliams commented on #115
This was on my internal todo list, I'd happily accept a PR if anyone wants to tackle this before I have time to get this in.

[2017-03-16 02:14] cotter commented on #102
Hey Blake,

After further analysis, I'm pretty sure I can handle this in my own app through the handle_close() callback and there's no need for any modifications to your lib.

We can close this item. Thank you for the help!

[2017-03-16 02:14] #102 closed

[2017-03-16 02:22] BlakeWilliams commented on #102
Glad it worked out!

[2017-03-16 23:56] BlakeWilliams commented on #115
Done in #119

[2017-03-16 23:56] #115 closed

[2017-03-30 10:52] m1dnight opened #120 "Slack connection dies every x days/week"
Hey,

I built a bot using your Slack library but I'm encountering some disconnects lately.  I can't reproduce the issue for the time being, but I would like to help out anywhere I can to help fix this.

I have been looking through the code and the map that is shown `{:context,...}` is not to be found in the library. So perhaps this is an underlying issue in the websocket library?

So what happens

[2017-04-01 18:47] jhulten commented on #111
So not a recorded test set like https://github.com/parroty/exvcr ?

[2017-04-01 18:50] BlakeWilliams commented on #111
That would be difficult for the RTM part since it's websockets.

I have a PR open for it in #112 if you were interested in it. (I should have mentioned this issue on it tbf)

[2017-04-01 18:50] BlakeWilliams commented on #111
For the generated web API, that could be useful because it's hand-tested at the moment.

[2017-04-06 15:19] tcoopman commented on #120
I have the same issue as soon as I send some messages to slack.

[2017-04-06 17:34] m1dnight commented on #120
I have not yet fully discovered the issue, but it's the state machine of the underlying websocket implementation that fails. I have turned on SASL logging on my instance and I'm awaiting the next failure to have more details.

[2017-05-03 20:13] arvidkahl commented on #120
I also experience this issue:

[code]
as well as

[code]

[2017-05-04 07:22] m1dnight commented on #120
Your Slack token is in there, watch out with that stuff :)

On 3 May 2017 at 22:13, Arvid Kahl <notifications@github.com> wrote:

[2017-05-04 09:59] arvidkahl commented on #120
Thanks, that was an oversight :)

[2017-05-18 19:36] elkelk opened #123 "Slack.Bot.start_link does not link process"
It appears that the sub process in `Slack.Bot.start_link` when initiated, will register the PID to a name if given, but `Process.link(pid)` is never called. If the parent function (i.e. a GenServer) calls `Slack.Bot.start_link` no link is actually made.

I can add a PR to fix the issue by either calling `Process.link` or by renaming the method to `Slack.Bot.start` so that the correct behavior occu

[2017-05-22 14:27] #123 closed

[2017-05-25 09:59] dschniepp opened #127 "Superfluous_charset warnings"
When I use the post_message api:
[code]
I get a __superfluous_charset__ warning.
[code]
Due to https://api.slack.com/methods/chat.postMessage it seems to be a missing __content-type__, is there a way to set this via the api?

[2017-05-27 12:10] simpers opened #128 "Trying to include Slack.Bot as child under supervisor - disconnects straight away"
Hej! I am trying to get started with this lib to learn how to make a Slack bot. The problem is that as soon as I connect I am disconnected again but I can't see what went wrong due to the bloated message.

Is there something else that needs to be configured other than the token? It is included via an env variable at the start etc, but I just can't seem to get it to stay connected.

The error messa

[2017-05-30 17:40] mmartinson commented on #120
I'm having the same thing. I left [an issue on the websocket client library](https://github.com/sanmiguel/websocket_client/issues/54) linking back here, since it's not obvious to me if the exception is a feature or bug, and whether we should handle this here or try to get a patch into that client. My Erlang is weak, and if anyone is familiar with that project it would be super helpful to have some

[2017-05-30 18:23] BlakeWilliams commented on #120
I'm not sure why that would happen. Looking forward to seeing what the issue @mmartinson comes up with.

As a workaround, a supervisor should restart the client if it dies.

[2017-05-31 03:17] tt67wq opened #129 "problem when start ws"
** (Mix) Could not start application ebot: Ebot.Application.start(:normal, []) returned an error: shutdown: failed to start child: Slack.Bot
    ** (EXIT) an exception was raised:
        ** (MatchError) no match of right hand side value: {:error, {:undef, [{:crypto, :rand_bytes, [16], []}, {:wsc_lib, :generate_ws_key, 0, [file: '/data/slack-robot/ebot/deps/websocket_client/src/wsc_lib.erl', line:

[2017-05-31 03:51] tt67wq commented on #129
it only occurs on Ubuntu

[2017-05-31 05:53] #129 closed

[2017-05-31 05:53] tt67wq opened #130 "compile slack error on ubuntu"
05:50:21.184 [error] Loading of /data/slack-robot/ebot/_build/dev/lib/jsx/ebin/jsx_config.beam failed: :badfile

05:50:21.184 [error] beam/beam_load.c(1287): Error loading module jsx_config:
  mandatory chunk of type 'Atom' not found

== Compilation error on file lib/slack/web/web.ex ==

05:50:21.221 [error] Loading of /data/slack-robot/ebot/_build/dev/lib/jsx/ebin/jsx_config.beam failed: :badfile

[2017-05-31 14:36] BlakeWilliams commented on #130
Can you provide more details? What version of Elixir, Erlang, and Ubuntu are you running?

[2017-05-31 15:01] davydog187 commented on #130
@BlakeWilliams can you release the latest master? exjsx/jsx should no longer be a dependency

[2017-05-31 19:40] jfornoff commented on #120
I'm seeing the same sort of issue, plus the supervised worker does not seem to be coming back cleanly as of now, I'm not sure why.

I.E., the Slackbot module comes back up, `handle_connect` is called, but the Bot never appears online in Slack anymore.

I've been seeing Zombie `inet_gethost` processes on the given application (puzzling but not sure if related, also occurs before the occasional cras

[2017-05-31 22:20] lbalceda commented on #128
+1 was trying this out as well today, and ran into this same issue

[2017-05-31 22:29] lbalceda commented on #128
@simpers  I was trying this out as well today, and ran into this same issue.

Turns out I had a typo where I was defining     `worker(Slack.Bot, [Slackrtm, [], slack_token])`  - in my case `Slackrtm` vs `SlackRtm`

[2017-06-01 13:05] simpers commented on #128
I have no typo in my worker definition:

token is served through an .env file.

Supervisor:
`def init(:ok) do
    token = Application.get_env(:kemisten, :slack_token)
    IO.inspect token
    children = [
      worker(Bot, [SlackKemisten, [], token], restart: :permanent)
    ]
    supervise(children, strategy: :one_for_one);
  end`

SlackKemisten (the module using Slack, filename: slack_kemisten.e

[2017-06-05 10:24] DmitryKK opened #131 "post_message with attachments is not working"
I create following request for example:

`Slack.Web.Chat.post_message("D5LDLCNF3", "hello", %{ attachments: %{  text: "Choose answer" } }, token: "token" })`

As a result, I got following error:

[code]

I couldn't resolve problem. I need help, please

[2017-06-05 15:24] #131 closed

[2017-06-05 17:02] BlakeWilliams commented on #131
@DmitryKK Do you need to turn `attachments` into JSON?

[2017-06-06 06:07] edwinallenz commented on #58
@BlakeWilliams do you think this should be documented?
For me `HTTPoison.start` work, maybe I can create a PR

[2017-06-07 15:03] jfornoff commented on #120
Supervisor restarts the connection process cleanly, running a fork with updated `websocket_client` version 1.2.1 dependency for a few days, will report back if the issue is still happening there :+1:

[2017-06-08 13:40] jfornoff commented on #120
Still dies on `websocket_client` 1.2.1 with the same keepalive timeout error.

[2017-06-12 08:16] Bockit opened #132 "Threading support"
Are there are any plans to support threading in the rtm api
? https://api.slack.com/docs/message-threading

I started looking into it and I *think* you can get by with send_raw as a workaround, but I was wondering if there were plans for api support. I wouldn't know how the api would need to change to support it.

[2017-06-12 13:02] BlakeWilliams commented on #132
I'd happily accept a PR that builds in threading support, but I have no need for it myself so it's not really in the roadmap.

[2017-06-14 05:12] #130 closed

[2017-06-14 05:25] tt67wq opened #133 "fail to connect ws in Ubuntu"
code works well in Mac osx
but failed in Ubuntu
exception shows:

[code]

[2017-06-14 05:56] tt67wq commented on #133
I've already install erlang-crypto
am I missing other dependencis?

[2017-06-16 17:27] sanmiguel commented on #120
Howdy folks! `websocket_client` co-author and maintainer here. I'm sorry to see you've been having issues with the client lib, but hopefully I can offer some help...

I've just been going over the behaviours around `keepalive` handling in `websocket_client` and I think there are a couple of small issues working together that I need to address.

I'll spare this thread all the details, and put it al

[2017-06-16 17:29] BlakeWilliams commented on #133
What versions of Elixir, Erlang, and Ubuntu are you running?

[2017-06-19 17:17] Sitch commented on #127
Seems like you just need to pass the content type as an option to `HTTPoison.post/2` in the `Slack.Sends.open_im_channel/4`.  Would be nice to be able to set a decent default, likely `"utf-8"`, bc emojis :).  The only other supported option is `"iso-8859-1"` which is a single byte encoding for pure text.

[2017-06-19 18:47] BlakeWilliams commented on #127
I'd happily accept a PR setting `utf-8` as the encoding for those endpoints (or all, given how the code is structured).

[2017-06-23 14:55] bsnyder788 commented on #133
@BlakeWilliams  I am seeing the same exact errors after upgrading to elixir 1.4.5 and Erlang/OTP 20 [erts-9.0] on Ubuntu 14.04

[2017-06-25 03:57] sb8244 commented on #128
Hey y'all,

I don't know your exact setups, but wanted to provide a working Supervisor setup for you:

[code]

[2017-06-25 11:37] simpers commented on #128
@sb8244 In your BotSupervisor, you get the token and try to check if there is a already a bot present (bot_<token>), and if not you start one by calling start_child manually.

Is the default init([]) ever run? There is a child defined, Slack.Bot, with no params? Can you explain that to me?

[2017-06-25 14:48] sb8244 commented on #128
Hi @simpers, happy to explain.

This BotSupervisor is placed under my application as follows. This is what will run the BotSupervisor. In a `simple_one_for_one` supervision scheme, no children are started from adding the supervisor to the supervision tree, you must call `start_child` yourself. This is when the Slack.Bot process is started with the params present in `start_bot`. I just so happen to

[2017-06-26 11:36] simpers commented on #128
@sb8244 Thanks! I can definitely see the benefits of your approach! :)

I do however still get an error. Seems to say :ssl_error, which I assume has to do with some kind of dependency not having been updated since they updated openssl and others a while back. Had similar issues with other programs shortly thereafter. As I'm running Arch and always update I have the latest release of Elixir that Ar

[2017-06-29 04:41] mgwidmann opened #136 "Erlang 20"
Get this error when using erlang 20

[code]

Source code is here: https://github.com/mgwidmann/slack_coder

[2017-06-29 04:43] mgwidmann commented on #136
On second pass, it looks like the exception is in `websocket_client`, but hex doesn't have the source for it anywhere online, do you know where to submit the issue?

[2017-06-29 04:53] mgwidmann commented on #136
Nevermind, it was updated 👍

[2017-06-29 04:53] #136 closed

[2017-06-29 09:07] ne1ro commented on #133
I guess it's time to upgrade https://github.com/jeremyong/websocket_client dependency. The issue was already fixed in [this commit](https://github.com/jeremyong/websocket_client/commit/9a6f65d05ebf2725d62fb19262b21f1805a59fbf) .

[2017-06-29 11:35] simpers commented on #128
@sb8244 Do you think you could take a look at my repo and just see if you can see if I actually messed something up? If so, I can send you a link in a PM

[2017-06-29 15:39] sb8244 commented on #128
Sure @simpers

[2017-06-29 20:31] simpers commented on #128
@sb8244 Well, seeing as there is no apparent way to PM here (I think?) I will just email you.

[2017-06-29 20:33] sb8244 commented on #128
Sure thing, email is in the profile

[2017-07-01 21:55] sb8244 commented on #128
Working through it, it seems to be an issue with Elixir 1.4.5 (erlang/OTP 20). The websocket_client dependency had to be updated to master rather than a hex version, and that fixes the rand_bytes problem. However, I'm unable to get a connection working with my 1.4.2 working code. It immediately shuts off my bot, and starting a new bot gives me "Too many RTM connections" problem.

Not sure of the f

[2017-07-02 01:03] sb8244 commented on #128
What I've discovered so far is that Elixir 1.4.5 will work with OTP 19.3 (and presumedly lower), but will not work with 20. This is using master which has the deprecated functions changed out.

I get no error from the connection, but sometimes I get a PID that dies after a few seconds. Not sure how I can get network logs as to why it's doing this, as there is no log output currently.

[2017-07-04 16:00] ivanovaleksey commented on #131
@DmitryKK why did you close the issue?

[2017-07-04 18:16] ivanovaleksey opened #137 "Update websocket_client dependency"
Hi @BlakeWilliams, thanks for the great project!

I noticed that `websocket_client` dependency version is `1.1.0` but is was released September 16, 2015. It is almost 2 years now.

Can we update the version?

[2017-07-04 19:31] ivanovaleksey commented on #133
#137 offers to update websocket_client too

[2017-07-06 14:22] benbotwin commented on #137
This is actually needed as older versions of `websocket_client` don't work with newer versions of erlang

see: https://github.com/jeremyong/websocket_client/issues/49

[2017-07-06 14:26] BlakeWilliams commented on #137
I can get to this eventually, but if it's important I'd accept a PR and can cut a release sooner rather than later.

[2017-07-06 14:33] benbotwin commented on #137
I just made a PR. All the tests passed and I was able to get the rtm bot going without any issues #138

[2017-07-06 23:09] BlakeWilliams commented on #137
Just pushed `0.12.0` that has #138.

[2017-07-06 23:09] #137 closed

[2017-07-06 23:09] BlakeWilliams commented on #133
Just pushed `0.12.0` that has #138. Feel free to reopen if that doesn't fix it.

[2017-07-06 23:09] #133 closed

[2017-07-06 23:09] BlakeWilliams commented on #128
Just pushed `0.12.0` that has #138. If this isn't solved let me know.

[2017-07-06 23:09] #128 closed

[2017-07-06 23:10] BlakeWilliams commented on #120
The `websocket_client` package was updated in `0.12.0`. Can you give that version a try and let me know if that doesn't solve the issue?

[2017-07-07 07:14] jfornoff commented on #120
Will do! :+1:

[2017-07-19 07:54] simpers commented on #128
@BlakeWilliams @sb8244 Sorry for the late feedback. I did try it this too at some point and it doesn't crash, but the program also just terminates. Both yours, @sb8244 and my own after pulling 0.12.0.

So it seems it does connect but it doesn't loop and keep running after.

[2017-07-19 22:28] sanmiguel commented on #120
Sorry for the long delay folks, have been hugely distracted lately and haven't had a lot of time to focus on this.

You can mitigate this error by changing your `ondisconnect` callback fun, so that it returns `{:reconnect, state}` when `reason == {:error, :keepalive_timeout}`. Currently you return `{:close, reason, state}` in all cases, which will cause the `websocket_client` process to exit immed

[2017-07-19 22:32] mmartinson commented on #120
@sanmiguel thanks!

[2017-07-29 12:11] splashx commented on #94
This issue is still existing when trying to run the example in a machine (Ubuntu 16.04) which can only go out to the internet via proxy:

[code]

[code]

Could you please reopen the issue?

[2017-07-29 12:15] dapdizzy commented on #94
Of course it does. Author just ignored the description and pretended it was
all good.

The whole tcp/ssl stack does not make use of the proxy parameters (just as
I initially described it).

Сб, 29 июля 2017 г. в 15:11, Diogenes S. Jesus <notifications@github.com>:

[2017-07-29 12:22] splashx commented on #94
httpoison [supports it](https://github.com/edgurgel/httpoison/blob/bd6d601c38aa5570d633f4eada6a94c1e051a8b7/test/httpoison_base_test.exs#L96-L104), so it's possible to be implemented OoTB.

I don't even think it's required to check "when proxy is in env" - an empty value for `:proxy` will totally ignore it. The standard for pretty much any sofware and language is `http_proxy`/`HTTP_PROXY` and `htt

[2017-07-29 12:58] dapdizzy commented on #94
Httpoison is not enough. You should handle socket communication as well.
AFAIR, it turned out to be not implemented for the underlying Erlang
library (proxy parameters were not passed where needed).

Сб, 29 июля 2017 г. в 15:22, Diogenes S. Jesus <notifications@github.com>:

[2017-07-29 13:43] splashx commented on #94
I've gone as far as hitting [this issue](https://github.com/jeremyong/websocket_client/issues/46) in the websockets_client project. Apparently abandoned :(

[2017-07-29 13:47] dapdizzy commented on #94
Right, but it doesn't seem hard to bypass proxy options into
websocket_client, I messed up building it with Rebar and stopped there.
May be we could have a try and fix the issue in websocket_client?

Сб, 29 июля 2017 г. в 16:43, Diogenes S. Jesus <notifications@github.com>:

[2017-07-29 14:07] splashx commented on #94
@dapdizzy if you take a look at the [project fork timeline](https://github.com/jeremyong/websocket_client/network) one wonders if we should AT ALL deal with @jeremyong - maybe it's worth using @sanmiguel (meaning it still lives) - I've opened an [issue there too](https://github.com/sanmiguel/websocket_client/issues/64). @BlakeWilliams what's your opinion on that?

[2017-07-29 14:14] splashx commented on #94
Update: [apparently](https://hex.pm/packages/websocket_client) it's already upstream via sanmiguel's so let's move the discussion there.

[2017-07-29 14:18] dapdizzy commented on #94
Great! Loop me in the discussion if I'm not on the list. It'll be pretty
satisfying to finally resolve the issue for good.

Сб, 29 июля 2017 г. в 17:14, Diogenes S. Jesus <notifications@github.com>:

[2017-07-29 14:38] BlakeWilliams commented on #94
all good.

This isn't a problem I have personally ran into so I don't have much interest in tracking it down honestly. Like I mentioned before, I'm happy to accept a PR for it and maintain it.

We're using @sanmiguel's fork since it's actively maintained and has a lot of improvements over the original. Tracking the issue you opened and seeing where that goes is likely the first step in getting thi

[2017-07-29 14:41] splashx commented on #94
@BlakeWilliams I understand you have not faced the issue, but it exists - having it marked as `closed` is most likely not the best feedback for those relying on the lib and running apps behind corporate proxies, though, because the issue exists.

[2017-07-29 14:48] dapdizzy commented on #94
Right, I forgot about that kind of 'go ahead with a PR' proposal, so
closing that way wasn't really that bad.

At least now we have an accurate view of the problem and hopefully we'll
drive it to a positive resolution.

Сб, 29 июля 2017 г. в 17:41, Diogenes S. Jesus <notifications@github.com>:

[2017-07-29 14:48] BlakeWilliams commented on #94
@splashx That's fair, it also seemed like the issue was somewhat dead until today. :)

I just reopened it since there seems to be progress.

[2017-07-31 18:29] tomekr opened #139 "lookup_user_name fails for user_id that starts with a W"
A year ago, Slack changed their user id strings and some user IDs may now begin with the letter "W"

From the [API documentation](https://api.slack.com/types/user):

The `Slack.Lookups`'s `lookup_user_name` function checks only for a `U` (see
https://github.com/BlakeWilliams/Elixir-Slack/blob/master/lib/slack/lookups.ex#L50)

[2017-08-02 18:39] mmartinson commented on #132
@Bockit it's fairly straightforward to use the web API wrapper in this library to post messages to a channel instead of using the socket connection if you don't want to do the implementation there. There is an example payload in the doc you linked. I have found it best for my application to use the socket connection for receiving events, but do all my posts and updates through the web API.

[2017-08-02 22:21] Bockit commented on #132
That's a good strategy, thanks for the heads up.

[2017-08-12 17:52] andrewshatnyy opened #140 "Add ability to pass token along with optional params to Web Api"
There's a need to have optional token to be passed to the method when working with web api and multiple bots.

[2017-08-17 15:50] vishal-h opened #142 "Supervisor tree issue with 1.5"
This pertains to closed issue #109. With the recent release of Elixir 1.5, I get the error
The module {some_name} was given as a child to a supervisor but it does not implement child_spec/1. If you own the given module, please define a child_spec/1 function that receives an argument and returns a child specification. If not, pass a map child specification instead of the given module to the supervi

[2017-08-24 14:57] DinaWork opened #143 "send message with attachment"
So I defined a module that uses the Slack behaviour and defines the appropriate callback methods.

[code]
works well for me, and I receive "hello world" messages in general channel .
how can I send messages  with attachments as described [here]( https://api.slack.com/docs/message-attachments)?

[2017-08-24 15:48] BlakeWilliams commented on #143
Have you looked at the [`Slack.Web.Chat` documentation](https://hexdocs.pm/slack/Slack.Web.Chat.html#post_message/3)?

I haven't tested it, but that's probably your best bet. The real time API does not support attachments from what I remember.

[2017-08-27 13:47] DinaWork commented on #143
thanks, that's exactly what I was looking for!

[2017-08-30 20:45] #120 closed

[2017-09-13 02:08] ajose01 commented on #143
@BlakeWilliams speaking of which... the documentation doesn't make mention of encoding the attachment bit to json. (Unless I missed it :( )

Do you take PR's around clarifying API usage? I've been working with your hex for the past couple days, so if I find other things that I think could help others I'd love to contribute.

[2017-09-13 18:27] BlakeWilliams commented on #143
@ajose01 I do! It might be difficult given how the web documentation is generated but if you can get it working I'd happily accept it.

[2017-09-13 18:27] BlakeWilliams commented on #143
Sounds like this was resolved, closing

[2017-09-13 18:27] #143 closed

[2017-10-18 21:08] mmartinson commented on #139
Ya this probably could use a patch to be compliant with the suggestion from the API docs you linked.

[Here is the code](https://github.com/BlakeWilliams/Elixir-Slack/blob/master/lib/slack/lookups.ex#L50) if someone wants to have a go at it.

[2017-10-19 21:27] mmartinson opened #146 "Web API: Proposed breaking change before 1.0 - comments wanted"
The web API, though quite fully featured in its support, is currently somewhat limited in its semantics in that are function calls [assume the happy path](https://github.com/BlakeWilliams/Elixir-Slack/blob/master/lib/slack/web/web.ex#L51) and return only correct data/raise a number of different possible exceptions. This may be fine in some situations for simple apps, but for production apps that n

[2017-10-19 21:34] BlakeWilliams commented on #146
@mmartinson I like the first proposal, it's honestly something that the library should have already been doing but doesn't (thanks to me). I'd definitely accept PR's making error handling for the web client better.

As for the second proposal, we're pre-1.0 so I don't think we should worry too much about backwards compatibility. My first thoughts are to keep the web + RTM API's together for now, b

[2017-10-19 21:42] JEG2 commented on #146
@BlakeWilliams sounds wise to me.  😄

[2017-10-19 21:52] mmartinson commented on #146
Great. I can get started working on this. I need to investigate the rate limiting for a product I'm working on, so I'll make some changes and put up a WIP PR for folks to comment on.

[2017-10-19 21:55] mmartinson commented on #140
This is is solved and can be closed

[2017-10-20 00:11] #140 closed

[2017-10-31 17:24] mmartinson opened #147 "Update RTM connection API call to handle user presence deprecation"
From the [Slack API docs](https://api.slack.com/docs/presence-and-status)

If we want to continue to receive presence change events, we'll need to modify the `rtm.start` call to pass the specified parameter.

[2017-11-03 09:36] dapdizzy opened #148 "Sending attachments in messages"
Sending attachments is messages (on behalf of Bot) is apparently missing.

There is a note that sending attachments **is not supported for RTM API**.
However, some Ruby examples and the general structure of message containing attachments does not seem to contradict with the way textual messages are sent. So, unless there's some strict contradiction, it seems to be just a missing feature for Elixir

[2017-11-03 14:20] BlakeWilliams commented on #148
The generated web API might have support for this via: https://hexdocs.pm/slack/Slack.Web.Chat.html

Otherwise I'm happy to accept a PR building out that functionality.

[2017-11-03 14:20] #148 closed

[2017-11-17 14:52] philwade commented on #142
I just figured out the work around for this (with the help of the error message), you can pass a child specification map so your app start looks like this:

    def start(_type, _args) do
        children = [
             %{
               id: Slack.Bot,
               start: {Slack.Bot, :start_link, [MyApp.SlackModule, [], "YOUR-TOKEN"] }
             }
        ]

        opts = [strategy: :one_f

[2017-12-06 04:37] pezra opened #150 "API docs repo is dead"
Currently, the web API client is missing many features because https://github.com/slackhq/slack-api-docs isn't being updated.  According to https://github.com/slackhq/slack-api-docs/issues/74 we should expect it to remain dead.

Should we move off generating the web API function from JSON? We could define DSL to make defining calls to those remote procedures easier.

I have a specific need for htt

[2017-12-06 07:35] entertainyou commented on #120
@BlakeWilliams this is not contained in the latest release, any chance to make a new release?

[2017-12-06 14:58] BlakeWilliams commented on #150
This is a great point, and a great question.

Given that the API docs repo is dead and there's no alternative I think migrating towards rolling our own DSL (or just functions) is the path forward.

[2017-12-06 15:09] pezra commented on #150
OK. I'll see if i can find the time to implement the call i need as straight code and we'll see where that leads. 😄

[2017-12-19 21:02] mmartinson commented on #147
It seems like Slack didn't ship on schedule, because I've still been getting presence change events after the 15th and didn't make this change. Anyone else depending on this presence info for key functionality?

[2018-01-10 04:21] nrw505 commented on #147
I am, and I have https://github.com/BlakeWilliams/Elixir-Slack/pull/153 to address it.

[2018-01-10 04:57] nrw505 commented on #147
Also https://github.com/BlakeWilliams/Elixir-Slack/pull/154 for a related presence issue.

[2018-01-17 11:58] obrok commented on #147
I'd really like to see this (these?) merged - I'm using the presence functionality, and it seems slack finally did ship this a couple days ago

[2018-01-25 16:05] mmartinson commented on #147
Thanks @nrw505. Your fix does it.

[2018-01-25 16:05] #147 closed

[2018-01-25 16:24] obrok commented on #147
@mmartinson could you post in this issue once you release?

[2018-02-05 11:07] dapdizzy commented on #94
I'm debugging the issue right now and it seems to fail on the call to `ssl:connect/4` in websocket_client library.
The Proxy itself it pibked up from the `http_proxy` environment variable (which can be set in the command line prompt before starting the bot app, for example).
The value is handler properly and is passed as a `proxy` option in a call to `httpc:set_options([{proxy, {{ProxyAddress, Por

[2018-02-20 19:56] xenji commented on #120
I also would like to see that in a release!

[2018-02-20 20:02] BlakeWilliams commented on #120
Just published 0.13.0.

[2018-02-20 20:06] xenji commented on #120
Well, that is what I call a quick response (at least to my comment). Thanks a lot for maintaining this project and keeping OSS alive!

[2018-02-20 20:14] BlakeWilliams commented on #120
No problem! And thank you for reminding me to do another release. :)

[2018-05-11 10:14] adamu opened #157 "Multiple Workspaces: App dies on `user_change` for user not in current workspace."
I am working on a bot in a sandbox workspace that in an Enterprise Grid with another workspace. I'm new to Elixir so forgive me if anything is unclear or inaccurate.

The sandbox webhook appears to receive `user_change` events for users that are not in the sandbox workspace (from the other enterprise workspace). When this happens the system goes down before the `handle_event` callback is called.

[2018-05-11 12:58] adamu commented on #157
Oh I just noticed PR #156 already exists for this.

[2018-05-17 02:32] AnilRedshift opened #158 "Better support for handling multiple teams"
The Slack bot works fine if you just need to support one team. However, if you are making a server to support multiple teams, then you need to write code to support it. This is compounded by the problem that if permission is removed, you get a :ssl_socket exception, followed by an `account_inactive` message when trying to connect.

If you keep trying to re-connect at that point, you'll just deathr

[2018-05-24 16:41] hwrd commented on #150
There is a new Slack API docs repo based on OpenAPI! https://github.com/slackapi/slack-api-specs

[2018-05-24 17:13] BlakeWilliams commented on #150
@hwrd Woah that's awesome! Thanks for the headsup on that.

[2018-05-31 16:36] mmartinson commented on #157
I can confirm that this is a critical issue with shared channels as well. Users that have the `is_stranger: true` field will crash the connection process

[2018-05-31 18:09] mmartinson commented on #150
I tried using the swagger client generator for elixir to build a client the other day. It has a bunch of syntax errors from the generated code.

[2018-06-01 15:49] blue-dinosaur opened #159 "Versioning: README vs mix.envs vs Hex vs Releases"
Hello, I am confused about the versioning.

The last release is 0.10, the README shows 0.12, the code shows 0.14 in mix.exs.

Could anyone please clarify? Thanks in advance!

[2018-06-01 15:52] BlakeWilliams commented on #159
Sometimes things just don't get updated or get missed. :)

I pushed the latest tag + updated the README. Thanks for letting me know!

[2018-06-01 15:52] #159 closed

[2018-06-01 15:53] blue-dinosaur opened #160 "Bug in send_message/3"
Hi, I suppose there is a bug on send message.

https://github.com/BlakeWilliams/Elixir-Slack/blob/58ffa73559b5cb29d41c2a472ee3c4ba53ed6333/lib/slack/sends.ex#L33

https://github.com/BlakeWilliams/Elixir-Slack/blob/58ffa73559b5cb29d41c2a472ee3c4ba53ed6333/lib/slack/sends.ex#L101

So send_message/3 calls open_im_channel/4 and passes an error handler with arity-1, but open_im_channel/4 calls it with

[2018-06-01 16:52] BlakeWilliams commented on #160
Oh nice find, I think that may be a bug.

If you have interest, I'd love a PR with a test covering the issue.

[2018-06-03 22:56] blue-dinosaur commented on #160
I was sending a message with the `display_name` of the user, which is what shows up on slack's sidebar.

If you look here:

https://github.com/BlakeWilliams/Elixir-Slack/blob/58ffa73559b5cb29d41c2a472ee3c4ba53ed6333/lib/slack/lookups.ex#L10

You'll see that the lookup tests for `name`, which my case was different from `display_name`.

That means a `nil` value was showing up as `direct_message_id`

[2018-06-04 01:15] BlakeWilliams commented on #160
fixed in #161

[2018-06-04 01:15] #160 closed

[2018-06-04 01:16] BlakeWilliams commented on #158
I'd say I have some interest, but I'm curious if the use-case is common enough to warrant supporting it. Would adding a generic solution fit the majority of use-cases?

[2018-06-06 07:56] trojanh commented on #158
I too have Slack bot for multiple teams and it automatically crashes without any Sentry error log. It makes our Slack app very unreliable.
We get [sentry error](https://sentry.io/share/issue/e12e5797cdf74b62872c490b8f2d8f0e/) each time which is weird. Blake could you help me with some way to handle this so that we can make our Slack app reliable?

[code]

[2018-06-22 02:07] maksimf opened #166 "Message is not sent from external module"
I am trying to send a message to Slack and I have a separate module to do that:

[code]

And I call it as (inside `iex -S mix`)

`MyRtm` looks like this:

[code]

[code]
I get `{:message, "Never mind me, I'm just a test message", "#general"}` as a response, but nothing get posted to Slack. But, if just bypass my `send_message!/2` call and call this directly

[code]

Everything works as expected (I

[2018-06-26 07:32] #132 closed

[2018-07-02 20:34] tckb commented on #127
Is there any workaround for this issue?

[2018-07-27 18:53] dhurley14 commented on #111
This [1] might be of help.. Haven't used it myself. I was looking to see how I could run integration tests for slack and I came across this.

[1]: https://github.com/codeforequity-at/testmybot

[2018-08-01 16:20] honkycat opened #168 "Bump HTTPoison to non-ancient version"
Your current httpoison version is from Jan 8, 2017, making it over a year old.

[2018-08-01 17:31] BlakeWilliams commented on #168
I don't have much time to do this right now, but I'd happily accept a PR.

[2018-08-03 18:37] nmohoric opened #169 "user.name being replaced by user.profile.display_name"
Any plans for handling this as it seems like the name attribute is being deprecated?
https://api.slack.com/changelog/2017-09-the-one-about-usernames

There is no actual specific date of them getting rid of the name attribute but a lot of lookups rely on it, and they seem to be saying they're going to start getting rid of the old username after September 12

[2018-08-12 18:16] BlakeWilliams commented on #168
Fixed in #170

[2018-08-13 02:04] Swingcloud commented on #168
since dependencies has been updated, maybe can jump the version to 0.14.1 let mix can get latest deps? thanks 🙇

[2018-08-13 14:34] BlakeWilliams commented on #168
`0.15.0` should be out now

[2018-08-13 14:34] #168 closed

[2018-08-13 14:35] BlakeWilliams commented on #166
Hey @maksimf nothing stands out here, is there any chance you have a working repo I could pull and test this out and maybe debug it a little bit?

[2018-09-06 09:02] agis commented on #169
@BlakeWilliams any updates on this one?

[2018-09-06 12:40] BlakeWilliams commented on #169
I haven't had a lot of time recently to look into this. I'd happily accept a PR if someone wants to do a bit of research and figure out what's necessary to move forward.

[2018-11-12 19:24] twilco opened #178 "Include (or link to) examples of usage"
It would be nice if there were some examples of usage in an `examples` directory or in a separate repo.  These examples would serve as a valuable (and different) form of documentation, and would help future users visualize ways in which they might use this library.

[2018-11-13 16:52] pavellishin commented on #178
I'm very interested in using this library to practice me some Elixir, so once I get underway, I'd be glad to link to my examples, or add some to the documentation - but work and personal issues are eating my fun programming time right now :(

[2018-12-21 18:21] dideler opened #179 "Check where message came from?"
Hi, I'm trying to make a bot only respond in group channels when @mentioned, while not needing an @mention for responding to direct messages.

Had a quick look through the docs to see where to get this state from. I assume it's somewhere in the `Slack.State` struct.

According to the Hex docs

Trying to dive deeper into the structure is difficult. The [Slack API types](https://api.slack.com/types)

[2018-12-21 19:43] BlakeWilliams commented on #179
@dideler I think the message event itself should have the information you're looking for assuming you mean the RTM API. https://api.slack.com/events/message

[2019-01-03 11:30] dideler commented on #179
Thanks @BlakeWilliams. Looks like the contents of `ims` from `%Slack.State{}` (the second parameter for `handle_event/3`) can be checked against the channel ID of the message.

I also noticed that he format of the channel ID encodes information about a channel. E.g. "D" prefix for direct channels, "C" prefix for public group channels, "G" prefix for private group channels. So that's another way to

[2019-01-03 11:30] #179 closed

[2019-02-19 06:53] binaryseed opened #181 "Crash upon start"
Hi there! https://github.com/BlakeWilliams/Elixir-Slack/pull/177 introduces a bug that causes the app to crash upon start...

See the https://github.com/BlakeWilliams/Elixir-Slack/pull/177#issuecomment-461811475

[code]

cc/ @acconrad @BlakeWilliams @aquarhead

[2019-02-23 17:21] axelson opened #182 "Token generation instructions incomplete"
Judging by the instructions present in the readme does this library only support legacy tokens?

Edit: Sent early

Legacy tokens:
https://api.slack.com/docs/token-types#legacy

If not are there any instructions to go from: "App ID", "Client ID", "Client Secret", "Signing Secret" to the  "token" that `Slack.Bot.start_link` expects?

[2019-03-16 01:45] yulolimum commented on #182
I'm not sure if this helps you, but you can get the oauth token after you grant your Slack app permissions and install it:

<img width="710" alt="image" src="https://user-images.githubusercontent.com/1775841/54469195-414d8300-4752-11e9-8b7e-ea63a50daacd.png">

[2019-03-17 18:28] axelson commented on #182
Thanks! That was what I was missing.

Note: you need to go to the "Your Apps" page: https://api.slack.com/apps, click on your app, then click on "Add features and functionality ", then click on the "Permissions" button, and then you can get your oauth access token.

[2019-03-17 18:38] BlakeWilliams commented on #182
If it's possible to make this more clear in the README I'd love a PR if anyone has time. :)

[2019-03-17 22:30] axelson commented on #181
I'm seeing this too. Using this as the `slack` dependency works for me:

[code]

[2019-03-17 23:14] BlakeWilliams commented on #181
Interesting. I’ll look into this soon and revert and re-release or pull the existing release if necessary.

[2019-03-18 00:02] axelson commented on #182
Created #183!

[2019-03-18 00:18] acconrad commented on #181
This was my release. This is based on the `rtm.start` method which includes `bots` now as a property https://api.slack.com/methods/rtm.start

[2019-03-18 02:08] acconrad commented on #181
@binaryseed @axelson @BlakeWilliams I've got a tentative fix open with #184 I just need some guidance to get the tests passing and then we should be good to go

[2019-03-24 21:21] jameskbride commented on #139
Thanks for this awesome project! I put together a quick PR to address this.  See PR https://github.com/BlakeWilliams/Elixir-Slack/pull/186.

[2019-03-30 13:04] jameskbride commented on #169
I put together a PR to partially address this change.  See https://github.com/BlakeWilliams/Elixir-Slack/pull/188 . I say partially because according to the documentation looking up the username now requires reading `users.list` and finding the latest `user_id` match by username, which seems like a much bigger lift.

@BlakeWilliams If you get a chance could you take a look at this and let me know

[2019-03-30 13:07] BlakeWilliams commented on #169
@jameskbride Great, I was just taking a peek at one of the PR's you closed. I'll try to get around to taking a look at it today or tomorrow.

[2019-03-30 13:08] BlakeWilliams commented on #169
Also thanks for diving in and working on these issues ✨

[2019-03-30 13:09] jameskbride commented on #169
Thanks @BlakeWilliams, glad to help!

[2019-03-30 20:28] jameskbride commented on #139
https://github.com/BlakeWilliams/Elixir-Slack/pull/188 addresses this.

[2019-04-08 15:48] r0zar commented on #158
Yeah I also I'm considering forgoing use of this because it doesn't support the multi-bot "Add to Slack" app button functionality. Would really be interested to see if that can be added.

[2019-04-08 19:55] BlakeWilliams commented on #158
@trojanh I obviously missed this, so sorry about that. That looks like it's blowing up on `websocket_client`'s side which I don't have much control over.

[2019-04-08 19:56] BlakeWilliams commented on #158
@r0zar I currently have no plans to implement explicit support for single bot multi-slack support. If someone comes up with a good plan and has interest in implementing it I'm not opposed to working with them to get it in though.

[2019-04-08 19:57] BlakeWilliams commented on #158
Closing this for now due to it not being on my radar. If someone wishes to tackle this we can reopen this issue or open a new issue to discuss a strategy around supporting that functionality.

[2019-04-08 19:57] #158 closed

[2019-04-08 19:59] #182 closed

[2019-04-09 06:24] trojanh commented on #158
Thanks, @BlakeWilliams for this package, it makes development a lot faster and overall manages to get the job done.

I wrote a detailed blog on how we went about creating Slack bot and how we handled the crashes and still managed to make it recover from crashes using Supervisors.

Adding a link here for anyone looking for a fix to handle crashes or creating a Slack bot in general.

https://blog.ki

[2019-04-09 13:21] BlakeWilliams commented on #158
@trojanh Great writeup! Glad you could get some use out of the library.

[2019-04-14 12:42] jameskbride opened #189 "Outstanding PRs"
Hi @BlakeWilliams,

It looks like there are some outstanding PRs that look like they're ready to merge in, and a few recent PRs that have been merged but need a release to fully realize their potential. I wanted to get your thoughts on some of these and see if we can come up with a plan to work on incorporating these changes in future releases.

Here are some things I see that I wanted to get your

[2019-04-14 14:32] BlakeWilliams commented on #189
Thanks for writing this up! The project definitely hasn't gotten as much attention from me as it should lately.

I definitely need to do a release and will get one out shortly.

* #188 looks good, need to merge that in.
* #184 someone had concerns on the PR last I checked. I really don't have a slack bot set up right now that I can use for testing the changes. If someone could verify that things s

[2019-04-14 14:33] BlakeWilliams commented on #189
All that being said, if you'd be interested in putting in the time to get all of those up-to-date and test them with a bot to ensure they're good to go that'd be amazing and I'd definitely appreciate the help. I'll work on being a bit more responsive on the repo now that things are a little less hectic.

[2019-04-14 19:15] jameskbride commented on #189
No worries about responsiveness, everyone is busy and I know how much of a time sink projects like this can be, especially when you're the only one managing it 😄

I'd be glad to help out.  I'll start looking at testing and maybe take a look at how to resolve #172 and #64.

Thanks for getting a number of those features merged in!

[2019-05-14 19:02] r0zar opened #192 "Unknown CA error"
Hi there!

Using the latest code, I'm getting a SSL error when trying to connect to the Slack rtm api.

I'm new to elixir so if this is a known issue, or has known workarounds, any input is appreciated. I read a few issues online from the HTTPoison and Hackney libraries that  seem to have this issue appear periodically.

Thanks.

[2019-05-14 20:47] r0zar commented on #192
I was able to workaround the issue for the moment by disabling ssl:
https://github.com/r0zar/Elixir-Slack

[2019-05-21 19:33] r0zar commented on #192
Looks like it was a company networking issue with SSL. either way hope this helps someone else with a similar issue.

[2019-05-21 19:33] #192 closed

[2019-05-23 11:33] pedromvieira opened #193 "Poison 4.x Support"
Could you update Poison dependency to new 4.X?
It throws an error with web.ex (Poison.parse).
Do you accepts PR for this?

[2019-06-21 07:56] axelson opened #195 "poison is not included in a release"
Poison is included when using releases because it is not in the `:applications` list, should switch to `:extra_applications` in order to fix this.

[2019-07-18 16:39] dideler opened #197 "Missing tags and releases for versions after v0.15.0"
The last Git tag and [GitHub release](https://github.com/BlakeWilliams/Elixir-Slack/releases) is at v0.15.0.

 Hex shows there's been four releases since
- 0.19.0 April 18, 2019
- 0.18.0 April 14, 2019
- 0.17.0 April 14, 2019
- 0.16.0 December 31, 2018

Could the tags and releases be updated please? Makes referencing and comparisons easier.

[2019-07-18 16:59] dideler opened #198 "Changelog"
Consider introducing a CHANGELOG.md file for users to review changes easily.

The lack of a changelog combined with #197 makes upgrading the library tricky.<sup>[1]</sup>

If you're unsure of what format to use, I recommend
- [Keep a Changelog](https://keepachangelog.com)
- or, the [Elixir core convention](https://github.com/elixir-lang/elixir/blob/master/CHANGELOG.md) of a summary followed by enh

[2019-08-13 05:09] NorthIsUp opened #201 "bots key not coming back in first api response"
[code]

it seems that the library is expecting a map of bots but is instead getting nothing. maybe a missing scope?

This is the structure that it is getting
[code]

[2019-08-13 05:16] NorthIsUp commented on #201
looks like a dupe of #181

[2019-08-13 05:16] #201 closed

[2019-08-25 13:29] perzanko commented on #181
I have the same issue 😎

[2019-08-25 20:11] acconrad commented on #181
@perzanko are you on the latest version? it should be resolved now via #190

[2019-08-25 21:49] axelson commented on #181
But do note that there isn't a release with that change yet, so you'd have to use master directly. @BlakeWilliams is it possible to cut another release with the fix?

[2019-08-25 22:56] BlakeWilliams commented on #181
@axelson `0.19.0` was released that includes that change I believe. I'll update the README and push the tag.

[2019-08-25 22:56] #181 closed

[2019-08-25 22:58] BlakeWilliams commented on #197
Yeah, my mistake there. I just pushed up any tags that were missing and on my machine but I think it might only include 0.19.0.

Unless anyone really requires it I'm going to skip on backfilling previous versions since this is pre-1.0.

Thanks!

[2019-08-25 22:58] #197 closed

[2019-08-25 23:01] BlakeWilliams commented on #198
I personally love changelogs but it's not something I have the time to maintain. If/when the library hits 1.0 I'll likely be more disciplined about maintaining a changelog given the commitment to a public API.

Thanks for the suggestion!

[2019-08-25 23:01] #198 closed

[2019-08-25 23:19] axelson commented on #181
Ah, I see. Didn't notice that release I guess. Thanks for updating the readme and pushing the tag!

[2019-08-26 21:53] perzanko commented on #181
@acconrad @axelson @BlakeWilliams Now it works - THANKS 👍

[2019-09-02 09:19] yordis commented on #189
@BlakeWilliams are you interested in passing the ownership or adding contributors to the project?

Some people may be able to help you in taking care of the package.

[2019-09-26 23:35] #195 closed

[2019-10-29 10:29] soriyath commented on #189
I've created this PR: https://github.com/BlakeWilliams/Elixir-Slack/pull/204
to solve this issue: https://github.com/BlakeWilliams/Elixir-Slack/issues/193

[2019-10-31 16:48] nathany opened #205 "Chat.schedule_message"
Hi. I'm not seeing support for scheduling messages. Is it there and just not documented? What would it take to add this?

https://api.slack.com/methods/chat.scheduleMessage

[2019-10-31 16:50] nathany commented on #205
If implemented, would the API take a Unix timestamp like the Slack endpoint, or would it take a DateTime and do the `to_unix` conversion?

[2019-11-05 17:34] nathany commented on #205
Do [these JSON files](https://github.com/BlakeWilliams/Elixir-Slack/blob/master/lib/slack/web/docs/chat.postMessage.json) come from somewhere or are they being crafted based on the documentation?

What else needs to be done to add a function?

[2019-11-26 23:32] #193 closed

[2019-11-26 23:34] BlakeWilliams commented on #189
I'd be happy to give contribution status to anyone who's passionate about the project. If anyone's feeling energized about Elixir and Slack please reach out. I would definitely appreciate some help maintaining things.

I think this issue is mostly resolved, so closing for now. If I missed anything or if anything needs attention please ping me in the issue/PR. :)

[2019-11-26 23:34] #189 closed

[2019-11-26 23:35] #166 closed

[2019-11-26 23:35] #169 closed

[2019-11-26 23:36] #142 closed

[2019-11-26 23:37] #139 closed

[2019-11-26 23:37] #111 closed

[2020-02-05 05:34] ahsandar opened #206 "Hex has elixir-slack version with poison 3.0"
https://diff.hex.pm/diff/slack/0.19.0..0.20.0

[2020-02-21 16:48] nacengineer opened #211 "Upcoming slack change"
Audit of how this upcoming slack change is going to affect this library.

https://medium.com/slack-developer-blog/more-precision-less-restrictions-a3550006f9c3

I started working though updating the permissions only to get to the last page where this was thrown up.

```The RTM API is not accessible to updated Bot Tokens. If your app requires RTM functionality, please exit this update and continue

[2020-02-23 03:53] acconrad commented on #205
@nathany the way I've done it is to add those JSON files directly into that folder. The API is pretty out of date, lots of stuff needs to be added in there or updated

[2020-02-23 18:32] acconrad commented on #206
What is the issue here? I see there is a diff, but `Elixir-Slack` was only _just_ bumped to version `0.20.0` - are you sure you weren't forking off of another branch or a PR?

[2020-02-23 18:36] acconrad commented on #205
@nathany see #212 as to how I did it - you can do the exact same for this and just create a file `chat.scheduleMessage.json`

[2020-02-23 20:14] acconrad commented on #127
@sitch @dschniepp @tckb the fix is in this PR

[2020-02-23 20:23] acconrad commented on #146
@mmartinson I can implement this - do you have a rough idea of where this should be added?

[2020-02-23 20:40] acconrad commented on #211
@nacengineer the only Web API method used is `rtm.connect`. `Slack.Rtm` and `Slack.Bot` I don't believe have scope access so I _think_ it's just that one call.

[2020-02-23 20:41] #178 closed

[2020-02-23 21:37] #127 closed

[2020-02-23 22:01] acconrad commented on #150
@hwrd looks like that package is out of date as well, missing stuff like the `views.*` methods - if I can avoid manually writing them that would be great, though it sounds like [this](https://github.com/slackapi/slack-api-specs/issues/29#issuecomment-543255200) could be a solution

[2020-02-25 03:16] acconrad commented on #114
No longer relevant since this is off of `JSX` and is not decoding to `:atoms` anymore

[2020-02-25 03:16] #114 closed

[2020-02-25 03:33] #205 closed

[2020-02-25 03:46] acconrad commented on #31
Closing since, per Slack's docs:

source: https://api.slack.com/rtm

[2020-02-25 03:46] #31 closed

[2020-02-25 03:48] acconrad commented on #94
@dapdizzy do you want to create a PR to address this? been 2 years and wondering if this is still a problem

[2020-02-25 23:20] #211 closed

[2020-02-27 19:04] dapdizzy commented on #94
I’m currently not actively using this project, but it would be nice to fix
this if this is not a super hard fix (in terms of effort).
I remember I pointed out the exact place in the ssl module where the
problem first manifests itself.
I’ll try to lo take some time and look into the problem and if I can help,
it’ll be nice to provide a PR to fix this.

вт, 25 февр. 2020 г. в 6:48, Adam Conrad <noti

[2020-03-08 14:30] Arsenalist opened #218 "Using content parameter of Slack.Web.Files.upload/3"
If I want to use the content option instead of using the first parameter of the method (which uses multi-part form), what do I pass in as a first parameter of the method since it is mandatory?

[2020-03-08 18:08] acconrad commented on #218
you can always pass in things from the options object

[2020-03-08 18:08] #218 closed

[2020-03-12 06:04] ahsandar commented on #206
its updated now , wasn't showing up iunitially when reported. thanks
`"slack": {:hex, :slack, "0.20.0", "87852885884546441e81cd2b96edc2ea966c306a345386503722d5c17a2aad70", [:mix], [{:httpoison, "~> 1.2", [hex: :httpoison, repo: "hexpm", optional: false]}, {:poison, "~> 3.0", [hex: :poison, repo: "hexpm", optional: false]}, {:websocket_client, "~> 1.2.4", [hex: :websocket_client, repo: "hexpm", opt

[2020-03-12 06:04] #206 closed

[2020-03-15 18:54] #94 closed

[2020-03-15 18:54] acconrad commented on #108
closing as over 3 years old

[2020-03-15 18:54] #108 closed

[2020-03-31 18:24] keathley opened #220 "Bot crashes when user joins a channel"
It looks like the bot module still expects to have knowledge of `channels` and `users`. When a channel join event is received it attempts to update the bot's internal state. But this data was removed in #177 and causes the bot to crash.

As an aside, I'm not sure how [this is a reasonable solution](https://github.com/BlakeWilliams/Elixir-Slack#make-additional-calls-to-the-slack-api-to-fetch-bots-c

[2020-05-04 16:37] dylanmei commented on #220
With a decent-sized Slack workspace, crashing due to this problem is near-constant. How can we initialize things here in Slack.Bot with reasonable defaults so that we don't `badmap`?

[code]

[2020-05-04 16:55] acconrad commented on #220
Hi @keathley part of the upgrade was due to how the Slack API operates. Needing to switch functions was a requirement coming from Slack rather than how we wanted to connect to the app. It is necessary to reduce the amount of bookkeeping in favor of making specific calls to things like Users and Channels.

Further, rate limits have been more strictly enforced over the last few months with the need

[2020-05-04 18:33] keathley commented on #220
Sorry, I'm not questioning why these calls where remove. I understand the reasoning for reducing the bookkeeping that this library is doing. I'm confused about what the expectations are for users of this library. More importantly, I'm wondering if this is a bug or if I'm doing it wrong.

There is no supported way to update the slack bot's internal state. You could issue all of these calls when the

[2020-05-04 18:45] acconrad commented on #220
Aha okay makes more sense @keathley I believe I had addressed this in the breaking changes update but essentially you'll need to make individual calls to grab the latest data. So if the original one grabbed all of the users and all of the channels, you'll need to make individual calls now to `Channels.list` and `Users.list`

[2020-05-04 19:02] keathley commented on #220
@acconrad Sorry, I'm still not being clear. The issue is that the bot crashes whenever a user joins or leaves a channel because the bot is trying to update its internal state which is no longer created.

[2020-05-04 19:09] barkerja commented on #220
Joining the conversation to add my personal confusion on this topic.

I recently setup a bot and noticed it kept crashing on a lot of user status changes, joins, etc. After reading the documentation and recent changes, I thought it was simply a matter of making those additional calls in your `handle_connect/2` callback, which to my surprise, did nothing to help the issue.

[2020-05-27 17:18] entertainyou commented on #220
I think this issue could be fixed by #223 , at least the case for @dylanmei

[2020-05-27 17:28] dylanmei commented on #220
Oh nice! I've been running a fork that has almost this exact change. There are still a couple messages that crash the bot like this:

[code]
The messages that I have logged are:
- type: channel_archive
- type: channel_rename
- type: channel_unarchive
- type: message, subtype: channel_join
- type: message, subtype: channel_leave
- type: message, subtype: group_join
- type: message, subtype: group_l

[2020-05-27 17:29] acconrad commented on #220
@dylanmei I'm pretty active on approving PRs so if you have a proposal on how to fix it please go ahead and submit and we'll get it up on Hex ASAP!

[2020-05-27 18:23] entertainyou commented on #220
I'll see if I can reproduce and maybe fix issues @dylanmei provided.

[2020-05-27 20:09] acconrad commented on #220
@entertainyou @dylanmei just pushed another fix so if you pull `0.23.4` that _may_ resolve this Issue here and we can close this?

[2020-05-27 23:30] dylanmei commented on #220
:+1: My bot's workspace has 12k users and 9k channels. After 3 hours on weekday I've seen no issues.

@entertainyou @acconrad thank you!

[2020-05-28 00:49] acconrad commented on #220
Great I'm going to close this issue since that's a pretty hefty test to ensure the bot isn't crashing

[2020-05-28 00:49] #220 closed

[2020-05-28 00:50] acconrad commented on #150
Closing since I've been adding methods manually - if you need a method just let me know

[2020-05-28 00:50] #150 closed

[2020-05-28 00:51] acconrad commented on #146
Closing as this is over 3 years old and no one has responded to move forward in over 3 months

[2020-05-28 00:51] #146 closed

[2020-06-07 21:15] juanazam opened #225 "Support JSON payloads on web api chat methods"
Slack offical API supports JSON objects on these methods, but this package doesn't. I tried sending a JSON string on the text parameter and it doesn't work because of how HTTPoison is used underneath the hood. Any plans on supporting this?

https://api.slack.com/changelog/2017-10-keeping-up-with-the-jsons#what

[2020-06-07 21:18] juanazam commented on #225
Note sure if change the "text" on the documentation to "view" would make it work as expected

[2020-06-07 22:30] acconrad commented on #225
@juanazam want to give it a shot and send us a PR?

[2020-06-07 22:31] juanazam commented on #225
@acconrad sure, I wll give it a try and let you know!

[2020-06-07 23:00] juanazam commented on #225
@acconrad it's not as easy as I thought :(, this is what I'm doing as a workaround:

[code]

`payload` contains UI elements as well as parameters for this case: channel

From what I understand on how the requests are created, it's going to be a fair amount of work to support this, I'm willing to implement this if you agree this would be nice to have and also deciding on an implementation approach

[2020-06-08 02:52] acconrad commented on #225
@juanazam so you want to be able to POST JSON payloads? What is wrong with the current slack methods, just so I understand better? What is the use case you're looking for here?

[2020-06-08 12:50] juanazam commented on #225
@acconrad exactly, I want to send JSON payloads.

For this case in particular, not supporting JSON means that we cannot use rich UI elements on the message.

With JSON payloads I'm able to send a message with UI elements from slack (BlockKit). This is just not possible with the current implementation. The "text" parameter as it's been sent and processed is treated as simple text.

[2020-06-08 14:20] acconrad commented on #225
@juanazam are you referring to something like a Modal? Modals use `BlockKit` and I am able to structure modals via Maps (`view.open` offers a `view` property which can be built via Maps)

[2020-06-08 15:20] juanazam commented on #225
I mean something like rich messages with buttons for example
But not using the view methods because I'm sending a message.

Slack.Web.Chat.post_message

This method expects the message to be just text, but the slack API supports sending `BlockKit` responses to include UI elements on the message.

[2020-06-08 17:39] acconrad commented on #225
So I think the way you would have to do this is create an overloaded function of the [documentation function](https://github.com/BlakeWilliams/Elixir-Slack/blob/master/lib/slack/web/documentation.ex#L32) with a slightly modified argument set that allows you to pass _either_ the Elixir arguments _or_ one argument which is a Map that can be JSON-stringified.

[2020-06-08 18:01] juanazam commented on #225
@acconrad cool, just wanted to make sure you were onboard with the idea before doing anything :)

[2020-06-08 19:00] juanazam commented on #225
@acconrad turns out what I wanted to do was possible with current implementation, but one argument was missing https://github.com/BlakeWilliams/Elixir-Slack/pull/226

[2020-06-09 13:25] #225 closed

[2020-06-09 13:28] acconrad commented on #225
Thanks for the help @juanazam ! `0.23.5` published - feel free to add to your package now!

[2020-06-25 21:03] juanazam opened #227 "Token listed as required parameters when it should"
Reading the docs on the package, it seems the idea is to configure the token as something global on the app, and then all
calls using the library will use the token through the config.

https://github.com/BlakeWilliams/Elixir-Slack#web-api-usage

That's not the case for some of the functions the lib supports, examples:

scheduleMessage: https://github.com/BlakeWilliams/Elixir-Slack/blob/master/lib

[2020-06-25 21:41] #227 closed

[2020-07-19 12:28] Rodeoclash opened #231 "Unable to send messages unless removed then re-invited"
Apologies if this is something intrinsic to the way that Slack works and is not the fault of this library.

I've have some unusual behaviour that means I can only send a message if:

1. The bot is connected
2. The bot is invited to the channel within its "session".
3. The bot maintains its current "session", that is, I cannot restart the server, without requiring the bot to removed and invited aga

[2020-07-19 14:50] BlakeWilliams commented on #231
That doesn't sound like how I'd expect the library to behave. Can you share code that reproduces the issue so I can look into it?

[2020-07-19 22:08] Rodeoclash commented on #231
For sure. It's a bit work in progress:

This is a gen server I use to wrap your library, it handles storing the pid generated from starting it and tracking if it has connected to Slack or not.
https://github.com/Rodeoclash/coronabot/blob/master/server/lib/coronabot/slack/slack.ex

Here is a duplicate of the example code with some additional debugging:
https://github.com/Rodeoclash/coronabot/blob/m

[2020-07-19 22:12] BlakeWilliams commented on #231
Can you reproduce the issue without the genserver wrapper?

[2020-07-19 22:26] Rodeoclash commented on #231
I'll try that next. I wanted to check I'm not doing anything obviously wrong or misunderstanding its use before I got stuck into debugging. Thanks for the tech support and if I can replicate the issue stand alone, I'll let you know.

[2020-07-20 11:02] Rodeoclash commented on #231
@BlakeWilliams Here's some additional debugging outside of the wrapped GenServer. In the debugging below, the module `SlackRtm` is a copy paste of the one from the example (I've redacted the GenServer state):

[code]

Here I've removed the bot and re-invited it to the channel again using the Slack client.

![Screenshot from 2020-07-20 20-54-56](https://user-images.githubusercontent.com/63807/87930

[2020-08-10 20:30] binaryseed opened #233 "Slack RTM breaking changes"
Regarding the note in the Readme about the Slack API changes upon connect (`rtm.start`).. https://github.com/BlakeWilliams/Elixir-Slack#upgrading-from-0x-to-020

1) I'm getting rate limited errors on even the first attempt to connect. Perhaps the Slack API s now rejecting `rtm.start` altogether?
  * I had to use the url `/api/rtm.connect` to get connected with the Slack API now
  * I had to tweak

[2020-09-01 04:01] bigboxdave commented on #231
For what it's worth, I'm experiencing the same issues trying to send messages via my bot.

I've tried creating a new channel and re-inviting the bot user, but I can't send a message via process PID.

[code]

[2020-09-02 15:30] neodevelop commented on #233
Hi @binaryseed ! How are you doing the initializations of the state?

[2020-09-02 15:43] acconrad commented on #233
@binaryseed if you Slack app is new (within the last 1.5 yrs or so) it won't work. See this page for details: https://api.slack.com/methods/rtm.start

[2020-09-02 17:10] binaryseed commented on #233
Here's the changes I made in a branch to make this work..

https://github.com/binaryseed/Elixir-Slack/commit/e9a9395f79e0d58e3ba2dc7811f8dea33bfc9a50

[2020-09-02 17:11] binaryseed commented on #233
And to initialize `channels` for example, I do this:

[code]

[2020-09-02 20:40] acconrad commented on #233
@binaryseed want to create a pull request? Also please make sure you run the tests to ensure there are no regressions from this change

[2020-09-02 20:45] binaryseed commented on #233
Here we go: https://github.com/BlakeWilliams/Elixir-Slack/pull/235

Likely need to do some docs tweaks alongside it...

[2020-10-07 01:35] vip30 opened #237 "[Feature Request] Support unfurl method"
Provide custom unfurl behavior for user-posted URLs

refs: https://api.slack.com/methods/chat.unfurl

And here is the mr https://github.com/BlakeWilliams/Elixir-Slack/pull/238

Thanks

[2020-10-07 13:59] BlakeWilliams commented on #237
I don't have much time to spend on this, but I'd happily accept a pull request for this functionality.

[2020-10-11 00:58] acconrad commented on #237
Merged in #238 nice work!

[2020-10-11 00:58] #237 closed

[2020-10-25 23:14] raspher opened #239 "More beginner friendly documentation"
Looks like a lot of steps was missed in main documentation. I am currently searching google for my questions how to use this Elixir application (it's hard, cos Elixir is not as popular as JS/Python).

Beginners usually create bots or bot-like applications, but do not have knowledge about many things, they (and i) are learning them. How to learn this language without a good introduction?

For me, d

[2020-10-26 17:03] acconrad commented on #239
@raspher do you have ideas for specific areas you want more documentation? Just making a blanket statement that we need more documentation doesn't help us concretely solve this. How do you want this solved?

[2020-10-26 22:19] raspher commented on #239
It would be awesome if we'd have guideline like [hedwig-im/hedwig-slack](https://github.com/hedwig-im/hedwig_slack) have. I think all informations should be in separated file, like _beginner-guide.md_ .

Ping - Pong example:

- minimal project structure overview with description (files), a link to **pattern design** we use
- what permissions are required for bot to work (the essentials)
- - what p

[2020-10-27 00:14] acconrad commented on #239
@raspher this sounds good - but is a pretty serious investment. Are you open to creating some of these docs yourself?

[2020-10-27 00:27] raspher commented on #239
Well it would be nice just start with as little information as possible but step by step. I can help a little but I'm out of time - studying, working, 2nd work...

I am 100% sure I can help with slack, can create beautiful introduction but I need information about needed permissions per feature available in hex docs

[2020-12-20 18:16] jsmestad opened #241 "Accessing `apps.events.authorizations.list` or advice on how to add support?"
I cannot seem to find in the hexdocs any support for the [apps.event.authorizations.list](https://api.slack.com/methods/apps.event.authorizations.list) endpoint. Did I miss it or is it indeed missing? I am happy to add support for it if anyone can provide some direction on how to do that.

[2021-02-06 19:49] amattn commented on #239
While more documentation is always helpful, I'd love to see a simple HelloWorld style example slack bot app.

Or pointers to open source slackbots that use Elixir-Slack.

Thank you

[2021-03-02 13:49] yonst opened #243 "Channels functions deprecated by Slack"
Channels functions deprecated by Slack (more details here: https://api.slack.com/changelog/2020-01-deprecating-antecedents-to-the-conversations-api).

The recommended option to replace is the Conversation module but few changes have to be done.
One of the changes is that Channels functions worked also with the channel name and the conversation functions are working just with channel id.

also for

[2021-03-10 19:55] mrjoelkemp opened #246 "[Question] Any chance to cut a new release on hex with the latest master?"
Thanks for the continued support of this library.

I need access to the latest bug fix on master and although I can mix install from github, I get connection issues sporadically from github. Would like to pull straight from hex instead.

I saw that the latest release is from October with some merges to master since then.

Any help is appreciated. Thanks!

[2021-07-16 19:24] nacengineer commented on #241
I believe this requires a completely different token. I had to do generate an App Level Token in Basic Info on your Bot screen, to do something similar. Then you can fetch it like so (using httppoison)

[code]

[2022-05-31 17:45] aef- opened #251 "Moving ownership to BEAM community"
Hi Blake!

I hope you're doing well. I'm not sure if you're still maintaining this repo, but if not, or even if you plan to make updates, would you consider speaking with the individuals at https://github.com/beam-community to see if they'd be willing to adopt this library? I think it's a pretty essential library and I'd really hate to see it collect dust.

[2022-06-13 01:36] zoedsoupe commented on #251
so, I tried to make contact with them too but no answer. So I started to rewrite this library, as the same don't seem to handle the new events API and API methods.
https://github.com/zoedsoupe/slack_ex

[2022-06-13 01:45] BlakeWilliams commented on #251
Hey, sorry for the delay in response.

I'm not actively maintaining the library anymore, but if anyone from the community is interested in starting to update the library I'd happily give folks maintainer/commit access if they were serious about it. I don't have much time to reach out to beam-community about it, but if they'd like to fork the library and continue maintaining it I'd fully support th

[2022-06-14 14:24] aef- commented on #251
Hey @BlakeWilliams thanks for getting back to me -- I'm happy to help maintain this library as I need some updates for a current project. I think until we find the right team/organization to take over this library and the Hex package, we should continue to push to this fork considering how many other forks there are with various updates that perhaps we can roll-in. Let me know what you think.

[2022-06-15 01:11] zoedsoupe commented on #251
@aef- Actually I want ask your oponion about my ideia: I thought to rewrite (or update and upgrade this lib) to be like [bolt-js](https://github.com/slackapi/bolt-js) or the [python sdk](https://slack.dev/python-slack-sdk/)

However I have some doubts:
1. should the lib mantain support to old apps with RTM ?
2. should the lib map Slack API - maybe with `ecto` - entities?
3. a DSL to create bots ge

[2022-06-15 17:32] aef- commented on #251
@zoedsoupe I'm really just interested in finding a way to keep this package maintained at the moment. I'll be updating my fork with potential breaking changes. If there's a scenario in which I can get them merged and published to Hex, I'll consider making them backwards compatible.

[2022-06-15 17:48] zoedsoupe commented on #251
@aef- ok then, I'll be watching and following your fork, maybe I could contribute too, however I'll try to implement those ideas beacuse of my different needs

[2022-06-15 17:49] BlakeWilliams commented on #251
I'd be happy to give you commit access if you'd like to take that on. It'd be great for the library to see some updates, especially if we can maintain some backwards compatibility (within reason).

[2022-06-15 18:58] aef- commented on #251
That sounds good @BlakeWilliams, happy to help out.

[2022-06-29 14:02] BlakeWilliams commented on #251
Closing this out since it sounds like we have a path forward.

[2022-06-29 14:02] #251 closed

[2022-08-02 10:16] inooid commented on #246
Anything we can do to help out here? I am planning on using this library for a production use-case and thus would like to help stabilize it. The current library on Hex is already working pretty well, but I noticed that some of the issues I ran into have already been fixed on master.

Perhaps listing out some blockers that are currently stopping the further release can help contributors help pick t

[2022-08-02 13:20] BlakeWilliams commented on #246
There's nothing blocking, other than me not having much time to invest in the project for a while.

I'll write a TODO to cut a new release and close this issue. If that doesn't happen within the next day or so, feel free to ping me.

[2022-08-02 14:44] inooid commented on #246
Thanks @BlakeWilliams ! Please let us know if there's anything we can do to help lighten the load. I noticed that the CI was failing, so that's probably something we can help out with. If you happen to have a list of things you wanted to have new contributors pick up, let us know! 👍

[2022-08-02 14:45] BlakeWilliams commented on #246
@inooid Great point, it would actually be great if someone could migrate the repo to GitHub actions and fix CI up.

[2022-09-02 09:05] marceldegraaf commented on #233
Any news on this change? Just received a "final notice" email from Slack regarding the upcoming changes to `rtm.start` and `rtm.connect`:

<img width="595" alt="2022-09-02-11-05-14-QgJIMRUa@2x" src="https://user-images.githubusercontent.com/15011/188105173-eb5c6e78-1d59-43ef-810d-bddb2035b50f.png">